<div class='card'>
<div class='card-header'>Редактирование новости</div>
<div class='card-body card-block'>
<form class='form this_modal_form' enctype='multipart/form-data' id='thisCurrentForm' method='post' onsubmit='sendDataFromModalForm(&#39;.this_modal_form&#39;); return false;' th:action='${action}'>
<input name='id' th:value='${newItem.id}' type='hidden'>
<div class='row form-group'>
<div class='col col-md-3'>
<image class='form__image-content-item' th:alt='${newItem.title}' th:src='${newItem.image}'></image>
</div>
</div>
<div class='row form-group'>
<div class='col col-md-3'>
<div class='form-control-label'>Title</div>
</div>
<div class='col-12 col-md-9'>
<input class='form-control' id='login-email_title' name='title' placeholder='Title' th:value='${newItem.title}' type='text'>
<span class='form__error-message'></span>
</div>
</div>
<div class='row form-group'>
<div class='col col-md-3'>
<div class='form-control-label'>Content</div>
</div>
<div class='col-12 col-md-9'>
<textarea class='form-control' id='login-email_content' name='content' placeholder='Content' th:text='${newItem.content}'></textarea>
<span class='form__error-message'></span>
</div>
</div>
<div class='row form-group'>
<div class='col col-md-3'>
<div class='form-control-label'>Image</div>
</div>
<div class='col-12 col-md-9'>
<input accept='image/png, image/jpeg' class='form-control' id='user-image_image' name='image' placeholder='image' th:value='${newItem.image}' type='file'>
<span class='form__error-message'></span>
</div>
</div>
</form>
</div>
<div class='card-footer'>
<button class='btn btn-primary btn-sm' form='thisCurrentForm' type='submit'>
<i class='fa fa-dot-circle-o'>Сохранить</i>
</button>
</div>
</div>
