%html
    %head
        %meta{charset:"utf-8"}
        %meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        %META{NAME:"ROBOTS", CONTENT:"INDEX, FOLLOW"}
        %link{rel:"stylesheet", type:"text/css", href:"css/index.css"}
        %title Найти книгу, купить
        %meta(name="description" content="Стоимость книг, наличие в различных магазинах")
        %meta(name="keywords" content="Купить книги беларусь, купить книги со скидкой, цена книги")
    %body   
        .media-container
            = Haml::Engine.new(File.read("blocks/header/header.haml")).render

        = Haml::Engine.new(File.read("blocks/menu/menu.haml")).render

        .media-container
            .title
                %h1.title__text(th:text="\#{page.title.book-catalog}")
            .catalog
                %ul.catalog__genres
                .catalog__items 
            .table-pagination
                .table-pagination__previous &#x2190;
                .table-pagination__current
                .table-pagination__next &#8594;        

        .horosontal-line
            .media-container
                = Haml::Engine.new(File.read("blocks/footer/footer.haml")).render
            
    %script{src:"js/adminpanel/pagination.js"}
    %script{src:"js/adminpanel/requestSender.js"}
    %script{src:"js/blocks/catalog.js"}
    :javascript
            cartConfig(".catalog")

        catalogConfig(".catalog") 
        