%html
  %head
    %meta{charset:"utf-8"}
    %meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    %META{NAME:"ROBOTS", CONTENT:"INDEX, FOLLOW"}
    %link{rel:"stylesheet", type:"text/css", href:"css/index.css"}
    %title Доставка книг
    %meta(name="description" content="Доставка книг осуществляется по всей стране различными способами")
    %meta(name="keywords" content="Купить книги беларусь, купить книги с доставкой, условия доставки")
  %body
    .media-container
      = Haml::Engine.new(File.read("blocks/header/header.haml")).render

    = Haml::Engine.new(File.read("blocks/menu/menu.haml")).render
    .media-container
      %h1.title__text(th:text="\#{page.title.delivery}")
      .title__sub-text    
        Наш магазин осуществляет доставку во все регионы Беларуси. Возможны доставка курьером в региональных центрах и доставка почтой по все стране. Также у вас есть возможность забрать свой заказ в одном из магазинов.
      
    .media-container
      .contacts_container 
        .sm-12.md-4.lg-4.xl-4
          .contacts__info
            .contacts__item
              .contacts__title(th:text="\#{deliver.address}")
              .contacts__text Минск, ул. Горецкого, 2 (ТЦ «Гиппо»)
            .contacts__item
              .contacts__title(th:text="\#{deliver.work-schedule}")
              .contacts__text с 10:00 до 21:00 (пн - вс)
            .contacts__item
              .contacts__title(th:text="\#{deliver.phone}")
              .contacts__text +7(495) 134-23-20
        .contacts_map-wraper.sm-12.md-8.lg-8.xl-8
          = File.read "blocks/google-map/google-map.html"


    
    .horosontal-line
    .media-container
      = Haml::Engine.new(File.read("blocks/footer/footer.haml")).render