.modal-window{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(52, 54, 66, 0.9);
  z-index: 3;
  overflow-y: auto;
  cursor: pointer;
  transition: opacity 0.3s 0, visibility 0 0;
  position: absolute;
  justify-content: center;
}
 
.modal-window__container{
  
  position: relative;
  width: 90%;
  max-width: 600px;
  background: #FFF;
  margin: 3em auto 4em;
  margin-top: 70px;
  cursor: auto;
  border-radius: 0.25em;
  transition-property: transform;
  transition-duration: 0.3s;
}

.modal-window__form{
  display: block;
}

.modal-window__close-form{
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  right: 0; 
  top: -21px;
  background: url("/img/icon-close.svg") no-repeat center center;
  text-indent: 100%;
  white-space: nowrap; 
  overflow: hidden; 
}
.modal-window__close-form:hover{ 
  cursor: pointer;
}

.form__image-content-item{
  width: 100px; 
}
.modal-window__confirm-container{
  display: flex;
  flex-wrap: wrap;
}

.modal-window__confirm-title{
  text-align: center;
  font-size: 20px;
  padding: 20px;
  width: 100%;
}
.modal-window__confirm-btn-container{
  text-align: end;
  width: 100%;
  border: 5px;
  padding: 0 30 30px 0;
}
.modal-window__confirm-btn{
  color: black;
  padding: 10px 40px;
  border: 1px solid $theme-main__background-color_hover;
  border-radius: 5px;
}
.modal-window__confirm-btn:hover{
  background-color: $theme-main__background-color_hover;
}
