
%html
    %head
        %meta{charset:"utf-8"}
        %meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        %META{NAME:"ROBOTS", CONTENT:"INDEX, FOLLOW"}
        %link{rel:"stylesheet", type:"text/css", href:"/css/index.css"}

        %meta(property="og:title" th:content="${book.author.name}")
        %meta(property="og:url" th:content="${\"http://localhost:8080/book/card.html?id=\" + book.id}")
        %meta(property="og:description" th:content="${book.description}")
        %meta(property="og:image" th:content="${\"http://localhost:8080/\" + book.images.get(0).path}")
    %body
        .media-container
            = Haml::Engine.new(File.read("blocks/header/header.haml")).render

        = Haml::Engine.new(File.read("blocks/menu/menu.haml")).render
        
        .media-container(itemscope itemtype="https://schema.org/Book")
            .sm-12.md-12.lg-12.xl-12
                = Haml::Engine.new(File.read("blocks/message/message.haml")).render

            .sm-12.md-6.lg-6.xl-6
                = Haml::Engine.new(File.read("blocks/photo-slider/photo-slider.haml")).render
            .sm-12.md-6.lg-6.xl-6
                = Haml::Engine.new(File.read("blocks/book-description/book-description.haml")).render
        .media-container
            = Haml::Engine.new(File.read("blocks/book-comments/book-comments.haml")).render
        .horosontal-line
        .media-container
            = Haml::Engine.new(File.read("blocks/footer/footer.haml")).render
        
              
            