%html
  %head
    %meta{charset:"utf-8"}
    %meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    %META{NAME:"ROBOTS", CONTENT:"INDEX, FOLLOW"}
    %link{rel:"stylesheet", type:"text/css", href:"/css/index.css"}
      
  %body
    .media-container
      = Haml::Engine.new(File.read("blocks/header/header.haml")).render

    = Haml::Engine.new(File.read("blocks/menu/menu.haml")).render

    .media-container
      .title
        .title__text(th:text="\#{page.title.gallery}")
      .gallery
        .gallery__closer
          .gallery__closer-img
        .gallery__wrapper 
         
        %a.gallery__control.gallery__control_left(href="#" role="button")
        %a.gallery__control.gallery__control_right(href="#" role="button")  
      .table-pagination
        .table-pagination__previous &#x2190;
        .table-pagination__current
        .table-pagination__next &#8594;    

    %script{src:"/js/adminpanel/pagination.js"}
    %script{src:"/js/adminpanel/requestSender.js"}
    %script{src:"/js/blocks/gallery.js"}
    %script{src:"/js/blocks/galleryLoader.js"}
    :javascript
      galleryConfig(".gallery__wrapper");
     

    .horosontal-line
    .media-container
      = Haml::Engine.new(File.read("blocks/footer/footer.haml")).render

