-# haml index.haml index.html
-# sass --watch blocks/index.scss:index.css
-#
-# haml pages/index.haml index.html 
-# haml pages/news.haml news.html 
-# haml pages/gallery.haml gallery.html 
-# haml pages/catalog.haml catalog.html 
-# haml pages/book-item.haml book-item.html 
-# haml pages/account.haml account.html 
-# haml pages/contacts.haml contacts.html 
-# haml pages/delivery.haml delivery.html 
%html(xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4")
    %head
        %meta{charset:"utf-8"}
        %meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        %META{NAME:"ROBOTS", CONTENT:"INDEX, FOLLOW"}
        %link{rel:"stylesheet", type:"text/css", href:"/css/index.css"}
        %title Книжный магазин «BookStore»
        %meta(name="description" content=" нашем магазине — широкий выбор тематик: от узкоспециальной литературы до мировых бестселлеров. У нас Вы можете купить книгу с доставкой в течение 1-5 дней в любой регион РБ. Первым покупателям — скидка 10%.")
        %meta(name="keywords" content="Купить книги беларусь, купить книги со скидкой")

                
        %meta(property="og:title" content="Книжный магазин «BookStore»")
        %meta(property="og:url" content="http://localhost:8080/index.html")
        %meta(property="og:description" content="Здесь вы сможете найти книги для любых возрастов.  У нас разнообразные секции с жанрами где каждый найдет то, что ему по-душе.")
        %meta(property="og:image" content="http://localhost:8080/img/logo_red.gif")
    %body
        .media-container
            = Haml::Engine.new(File.read("blocks/header/header.haml")).render

        = Haml::Engine.new(File.read("blocks/menu/menu.haml")).render
        
        .media-container
            = Haml::Engine.new(File.read("blocks/slider/slider_main.haml")).render
        .media-container
            %h1.title__text_center
                Книжный магазин «BookStore»
            .title__sub-text_center    
                Мы рады видеть вас на сайте нашего интернет-магазина. 
                Здесь вы сможете найти книги для любых возрастов. 
                У нас разнообразные секции с жанрами где каждый найдет то, что ему по-душе.
        
        .media-container
            .title
                .title__text(th:text="\#{page.title.novelties}")
            = Haml::Engine.new(File.read("blocks/slider/slider-multy-items.haml")).render

            .title
                .title__text(th:text="\#{page.title.comments}")
            = Haml::Engine.new(File.read("blocks/comments/comments.haml")).render
        .media-container               
            = Haml::Engine.new(File.read("blocks/feedback/feedback.haml")).render
        
        .horosontal-line
        .media-container
            = Haml::Engine.new(File.read("blocks/footer/footer.haml")).render
        
              
            