%html
  %head
    %meta{charset:"utf-8"}
    %meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    %META{NAME:"ROBOTS", CONTENT:"INDEX, FOLLOW"}
    %link{rel:"stylesheet", type:"text/css", href:"/css/index.css"}
    %title Новости
    %meta(name="description" content="Здесь можно ознакомится с последними новостями и акциями нашего магазина")
    %meta(name="keywords" content="Новости, акции")  
  %body
    .media-container
      = Haml::Engine.new(File.read("blocks/header/header.haml")).render

    = Haml::Engine.new(File.read("blocks/menu/menu.haml")).render
    
    .media-container
      .title
        %h1.title__text(th:text="\#{page.title.latest-news}")
      .news
        .news__container
      .table-pagination
        .table-pagination__previous &#x2190;
        .table-pagination__current
        .table-pagination__next &#8594;  
    
    %script{src:"js/adminpanel/pagination.js"}
    %script{src:"js/adminpanel/requestSender.js"}
    %script{src:"js/blocks/new.js"}
    %script{src:"js/blocks/newsLoader.js"}
    :javascript
      newConfig(".news") 
        

    .horosontal-line
      .media-container
        = Haml::Engine.new(File.read("blocks/footer/footer.haml")).render