%html
  %head
    %meta{charset:"utf-8"}
    %meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    %META{NAME:"ROBOTS", CONTENT:"INDEX, FOLLOW"}
    %link{rel:"stylesheet", type:"text/css", href:"css/index.css"}
      
  %body
    .media-container
      = Haml::Engine.new(File.read("blocks/header/header.haml")).render

    = Haml::Engine.new(File.read("blocks/menu/menu.haml")).render
    
    .media-container
      .title
        .title__text(th:text="\#{page.title.site-map}")

    .media-container
      .map-site__item
        %a(href="/index.html" th:text="\#{map-site.main}")
      .map-site__item
        %a(href="/catalog.html" th:text="\#{map-site.catalog}")
      .map-site__item
        %a(href="/delivery.html" th:text="\#{map-site.delivery}")
      .map-site__item
        %a(href="/gallery.html" th:text="\#{map-site.gallery}")
      .map-site__item
        %a(href="/news.html" th:text="\#{map-site.news}")
      .map-site__item
        %a(href="/contacts.html" th:text="\#{map-site.contacts}")

     
    .horosontal-line
    .media-container
      = Haml::Engine.new(File.read("blocks/footer/footer.haml")).render