.card
  .card-header Редактирование пользователя
  .card-body.card-block
    %form.form.this_modal_form(th:action="${action}" method="post" enctype="multipart/form-data" onsubmit="sendDataFromModalForm('.this_modal_form'); return false;" id="thisCurrentForm")
      %input(type="hidden" name="id" th:value="${user.id}")

      .row.form-group
        .form__image-content-container
          %image.form__image-content-item(th:src="${user.image}")

      .row.form-group
        .col.col-md-3
          .form-control-label Name
        .col-12.col-md-9
          %input#login-email.form-control(th:value="${user.name}" id='name' name="name" type="text" placeholder="Имя" )
          %span.form__error-message 
      .row.form-group
        .col.col-md-3 
          .form-control-label Role
        .col-12.col-md-9
          %select#login-role.form-control(id='role' name="role" placeholder="role" )
            %option(th:each="role : ${roles}" th:value="${role.id}" th:text="${role.label}" th:selected="${role.id==user.role.id}" placeholder="Роль" ) 
      .row.form-group
        .col.col-md-3 
          .form-control-label  E-mail
        .col-12.col-md-9
          %input#login-email.form-control(th:value="${user.email}" id='email' type="email" name="email" placeholder="E-mail" )
          %span.form__error-message 
      .row.form-group
        .col.col-md-3 
          .form-control-label  Password
        .col-12.col-md-9
          %input#login-email.form-control(id='password' type="password" name="password" placeholder="Password" )
          %span.form__error-message 
      .row.form-group
        .col.col-md-3 
          .form-control-label  Comfirm password
        .col-12.col-md-9
          %input#login-email.form-control(id='password' type="password" name="password_confirm" placeholder="confirm" )
          %span.form__error-message 
      .row.form-group
        .col.col-md-3 
          .form-control-label  Image
        .col-12.col-md-9
          %input#user-image.form-control(th:value="${user.image}" id='image' name="image" type="file" placeholder="image" accept="image/png, image/jpeg")
          %span.form__error-message 
  .card-footer
    %button.btn.btn-primary.btn-sm(type="submit" form="thisCurrentForm" ) 
      %i.fa.fa-dot-circle-o Сохранить
      -# formDateSnder.js
