.table-pagination{
  width: 100%;
  display: flex;
  justify-content: center;
  visibility: hidden;
}

 

.table-pagination__previous,
.table-pagination__current,
.table-pagination__next{
  visibility: hidden;
  font-size: 20px;  
}

.table-pagination__previous{ 

}
.table-pagination__current{

}
.table-pagination__next{
  
}

.table-pagination__item_clicabl:hover{
    cursor: pointer;
}

.table-pagination_vivible{
  visibility: visible;
}