.header
    %meta(name="currentLocalisation" th:content="${#locale}")
    .header__container
        .header__emblem-container.sm-4.md-2.lg-2.xl-2
            %a{href:'/index.html'} 
                .header__emblem
        .header__link-container.sm-r-6.md-r-3.lg-r-6.xl-r-3(sec:authorize="isAuthenticated()")
            .user-account.header__link-wrapper.sm-12.md-12.lg-6.xl-6
                .control__img.control__img_user-account
                %a.header__link(href='/account.html' th:text="\#{header.profile}")
            .user-control.header__link-wrapper.sm-12.md-12.lg-6.xl-6
                .control__img.conctroll__img_logout
                %a.header__link.header__href-logout(href="/logout" th:text="\#{header.logout}")
            .locale.header__link-wrapper.sm-12.md-12.lg-6.xl-6
                .control__img.controll__img_locale
                %a#locale_ru.locale__item(onclick="changeLocale('ru')" th:text="\#{lang.ru}")
                %a#locale_en.locale__item(onclick="changeLocale('en')" th:text="\#{lang.eng}")
            .admin-panel.header__link-wrapper.sm-12.md-12.lg-6.xl-6(sec:authorize="hasRole('ADMIN') || hasRole('MANAGER')")
                .control__img.control__img_admin-panel
                %a.header__link.header__href-admin-panel(href='/admin-panel' th:text="\#{header.admin-panel}")

        .header__link-container.sm-r-6.md-r-4.lg-r-3.xl-r-3(sec:authorize="!isAuthenticated()")
            .user-control.header__link-wrapper.sm-12.md-12.lg-12.xl-12
                .control__img.conctroll__img_login-signup
                %a.header__link.header__href-login( href='#0' th:text="\#{header.login}")
                %a.header__link.header__href-signup(sec:authorize="!isAuthenticated()" href='#0' th:text="\#{header.registration}")
            .locale.header__link-wrapper.sm-12.md-12.lg-12.xl-12
                .control__img.controll__img_locale
                %a#locale_ru.locale__item(onclick="changeLocale('ru')" th:text="\#{lang.ru}")
                %a#locale_en.locale__item(onclick="changeLocale('en')" th:text="\#{lang.eng}")


        .header__callback.sm-12.md-6.lg-3.xl-r-3
            .callback
                .callback__number +7(495) 134-23-20
                .callback__container
                    %div.callback__img
                    %a.callback__href(href="#" th:text="\#{header.callback}")
        .header__search.sm-12.md-r-8.lg-4.xl-4
            %form.search-form(action="/catalog.html" method="GET")
                .search-form__content
                    %input.search-form__input(th:placeholder="\#{header.book-search}" name="text")
                    %input.search-form__button(th:placeholder="\#{header.book-search}" type="image" src="/img/search/ico_find.gif")
      
= Haml::Engine.new(File.read("blocks/login-signup/login-signup.haml")).render

%script{src:"/js/blocks/login-signup.js"}
%script{src:"/js/blocks/header.js"}

:javascript
    userModal(".user-modal", '.header__href-login','.header__href-signup');

%span(th:if="${param.login}")
    :javascript
        openLogIn();
%span(th:if="${param.signup}")
    :javascript
        openSignUp();


%script{src:"https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"}
:javascript
    var currentHref = $(location).attr('href');
    currentHref = currentHref.replace("#0", "");
    var changeLocale = function(locale){
        if(currentHref.indexOf('lang=')>=0){
            currentHref = currentHref.replace(/lang=[a-z]{0,5}/g, 'lang=' + locale)
        } else {
            if(currentHref.indexOf('?')>=0){
                currentHref += "&";
            } else {
                currentHref += "?";
            }
            currentHref += 'lang=' + locale
        }
        window.location.replace(currentHref);
    }

    var currentItem = 'en';
    if(document.getElementsByName('currentLocalisation')[0].getAttribute('content').indexOf('ru')>=0){
        currentItem='ru';
    }
    document.getElementById('locale_' + currentItem).classList.add('locale__item_current');

    

        
        