
@import 'book/book.scss';

.catalog__items{
  margin: 20px 0;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}
.catalog__item{
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
}

@media screen and (max-width: 576px) {
  .catalog__item{
    display: inherit;
    height: auto;
  }
}
.catalog__genres{
  margin: 0 auto;
  list-style-type: none; 
  padding: 0;
  overflow: hidden;
  flex-wrap: nowrap;
  color: white;
  margin: 0 auto;
}
.catalog__genre{
  float: left;
  background: $theme-main-color;
  padding: 10px;
  border-radius: 5px; 
  margin: 2px;
}
.catalog__genre_kook_name{
  float: left;
  background: #0063de;
  padding: 10px;
  border-radius: 5px; 
  margin: 2px;
}
.catalog__genre-check-box{
  margin: 0;
  padding: 0;
  border: 0;
}

.catalog_genre-label{
  padding: 5px;
}
.catalog_genre-label:hover{
  cursor: pointer;
}
.catalog__genre:hover{
  background: $theme-main-color_hover;
  cursor: pointer;
}