
.contacts_map-wraper{
  max-height: 400px;
  border: 1px solid $theme-main-horisontal-line-color;
  border-radius: 5px;
  padding: 5px;

  box-sizing: border-box;
}
.contacts__info{
  
  border: 1px solid $theme-main-horisontal-line-color;
  border-radius: 5px;
  padding: 5px;

}
@media screen and (max-width: 576px) {
  .contacts__info,
  .contacts_map-wraper{
    margin: 2px 2px 15px 2px;
  } 
}

.contacts__info:hover{
  box-shadow:0 0 10px #757575;
}

.contacts__title{
  color: #202124;
    font-family: "Google Sans",Arial,Helvetica,sans-serif;
    font-size: 1.4375rem;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 1.875rem;
}
.contacts__text{
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.71429;
  font-size: 1rem;
    letter-spacing: .25px;
    color: #757575;
    font-family: Roboto,Arial,Helvetica,sans-serif;
}