.gallery{
/**/

}
.gallery_modal{
  position: relative;
  overflow: hidden;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(52, 54, 66, 0.9);
  z-index: 3;
  overflow-y: auto;
  cursor: pointer;  
  justify-content: center;
  display: flex;
  align-items: center;
  .gallery__closer{
    visibility: visible;
    position: absolute;
  }
}
.gallery__closer{
  width: 100%;
  height: 100%;
  
  position: fixed;
  
    background-position-x: 20px;
    background-position-y: 20px;
    visibility: hidden;  
}
.gallery__closer-img{
  width: 20px;
    height: 20px;
    background: url(/img/icon-close.svg) center;
    float: right;
    margin: 40px;
}
// .gallery__closer:hover{
//   background-color: rgb(255, 255, 255);
//   opacity: .1;
// }

.gallery__wrapper{
    transition: transform .6s ease;
    display: flex;
    flex-wrap: wrap;
    align-items: center;  
    
    
}
.gallery__wrapper_modal{
  flex-wrap: inherit;
  height: 70%;
}

.gallery__items{
  margin: 20px 0;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline; 
  /**/
}

.gallery__item {
  padding: 5px;
  box-sizing: border-box;
  max-height: 200px;

    
    /*
        
    overflow: hidden;*/
   
}
.gallery__item_modal{
  flex: 0 0 100%;
  display: flex;
    align-items: center; 
    justify-content: center;
    max-height: 100%;
    height: 100%;

}
.gallery__item:hover{
  cursor: pointer;
}
.gallery__item_modal:hover{
  cursor: default;
}
.gallery__container{
  max-width: 1200px;
  overflow: hidden;
 
}
.gallery__container_modal{
  height: 100%;
  width: 100%;
  max-height: 500px;
  text-align: center;
  // background: rgba(80, 83, 105, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}
.gallery__img{
  width: 100%;
  height: 100%;
  transition: transform .2s ease-in-out;
}
.gallery__img:hover{
  transform: scale(1.15);
}

.gallery__img_wide{
  width: 100%;
  max-width: 100%;
  height: initial;  
}
.gallery__img_tall{
  max-height: 100%;
  width: auto;
  height: initial;
}
.gallery__img_tall:hover,
.gallery__img_wide:hover{
  transform: none;
}
@media screen and (max-width: 576px) {
  .gallery__item{
    display: inherit;
  } 
}

.gallery__control {
  position: absolute;
  top: 50%;
  display: none;
  align-items: center;
  justify-content: center;
  width: 40px;
  color: #fff;
  text-align: center;
  opacity: 0.5;
  height: 50px;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, .5);
  
}

.gallery__control_show { 
  display: flex;
}

.gallery__control:hover,
.gallery__control:focus {
  color: #fff;
  text-decoration: none;
  outline: 0;
  opacity: .9;
}

.gallery__control_left {
  left: 0;
}

.gallery__control_right {
  right: 0;
}

.gallery__control::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  background: transparent no-repeat center center;
  background-size: 100% 100%;
}

.gallery__control_left::before {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.gallery__control_right::before {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}