@import 'locales';

.header{

}
.header__container{
    list-style-type: none; 
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    position: relative;
    /* 
    flex-wrap: wrap;
    display: flex;
  align-items: flex-start;
  */
}
.header__emblem-container{
    box-sizing: border-box; 
    
    padding: 10px 10px;
    /*
    float: left;
    width: 20%;
    */
}
.header__emblem{
    height: 90px; 
    width: 110;
    background: $theme-main__logo;
    transition: 1s;
}
.header__emblem:hover{
    
    transform: scale(1.1);
}
.header__search{
    box-sizing: border-box;
   
    margin-top: 30px;
    /*
    float: left;
    width: 40%;
    */
}
.header__callback{
    font-weight: bold;
    box-sizing: border-box;
    
    padding: 25px 0;
    /*
    float: left;
    width: 20%;
    
    */
    text-align: center;
}

.header__link-container{
    // box-sizing: border-box;
    /*
    float: right;
        width: 20%;
        */
    margin-top: 20px;

    // text-align: center;
}
.header__link{
    text-decoration: none;
    color: black;
    // padding: 0px 10px;
    font-size: 20px;
    font-family: arial,sans-serif;
}

.header__link:hover {
    color: #3a3a3a;
    cursor: pointer;
}

.header__color-scheme{
    display: block;
    position: absolute;
    right: 0;

}
.header__color-scheme-item{
    display: block;
    width: 20px;
    height:20px;
    margin: 5px;
    display: inline-block;
}
.header__color-scheme-item_red{
    background-color: $red;
}
.header__color-scheme-item_green{
    background-color: $green;
}
.header__color-scheme-item_blue{
    background-color: $blue;
}
.header__color-scheme-item:hover{ 
    transform: scale(1.4);
    cursor: pointer;
}

.user-control{

}
.header__link-wrapper{
    float: left;
}
.control__img{
    width: 24px;
    height: 24px;
    display: inline-block;
    top: 4px;
    margin: 0 5px 0 0;
    position: relative;
}
.conctroll__img_login-signup{
    background: url(/img/ico_login_24.png) center no-repeat;
}
.conctroll__img_logout{
    background: url(/img/ico_logout_24.png) center no-repeat;
}

.control__img_admin-panel{
    background: url(/img/ico_admin_24.png) center no-repeat;
}
.control__img_user-account{
    background: url(/img/ico_user_24.png) center no-repeat;
}
// 
