.locales{
  border: 0;
  margin: 2px;
  background: none;
  text-decoration: none;
  color: black;
  padding: 0px 10px; 
  font-size: 18px;
}
.locales:hover,
.locales__item:hover{
  cursor: pointer;
}
.controll__img_locale{
  background: url(/img/ico_lang_24.png) center no-repeat;
}
.locale{

}
.locale__item{
  text-decoration: none;
  color: black;
  // padding: 0px 3px;
  font-size: 20px;
}

.locale__item_current{
  font-weight: bold;
  font-family: arial,sans-serif;
}

.locale__item:hover{
  cursor: pointer;
}

.locale__item_current:hover{
  cursor: default;
}
