$grid-columns: 12;

$size-value: (sm: 0px, md: 576px, lg: 768px, xl: 1200px);

@each $size, $value in $size-value {
    @media only screen and (min-width: #{$value}) {
        @for $j from 1 through $grid-columns {
            .#{$size}-flex-#{$j} { 
                flex:0 0 100% / $grid-columns * $j;
            }
        }
    }
}