.slider.slider-main
  .slider__wrapper.grid-area
    .slider__item.sm-flex-12.md-flex-12.lg-flex-12.xl-flex-12(th:each="image:${mainslider}")
      %a(th:href="${image.href}")
        %img.slider__img(th:src="${image.image}" th:alt="\#{img.main-slider.alt}") 
  %a.slider__control.slider__control_left(href="#" role="button")
  %a.slider__control.slider__control_right.slider__control_show(href="#" role="button")
 
  %script{src:"js/blocks/slider.js"}
  :javascript
    multiItemSlider(".slider-main") 