.footer{
    
    padding: 1rem;  
    text-align: center;
    display: flex;
}
.footer__colon {
    display: flex;
    justify-content: start;
}
.footer__store-name{ 
    text-align: start;
    font-size: 25px;
    color: rgb(36, 35, 35);
}
.footer__book{

}
.footer__store{
    font-weight: bold;
}
.footer__callback{
    text-align: start;
}

.footer__title{
    font-size: 25px;
    color: rgb(36, 35, 35);
    font-weight: bold;
}

.footer__link-menu{
    color: rgb(36, 35, 35);
    font-size: 15px;
    margin-top: 5px;
    text-decoration: none;
    display: block; 
}

.footer__link-menu:hover{
    color: rgb(0, 0, 0);
}

.footer__link-img{
    height: 20px;
    margin: 10px 15px 10px 0;
    border: 1px;
}
.footer__link-img:hover{
    opacity: .8;
    cursor: pointer;
    transform: scale(1.008);
}

.footer__block{
    text-align: start;
}

@media screen and (max-width: 576px) {
    .footer__colon {
        display: flex;
        justify-content: center;
    }
    .footer{
        position: relative;
        text-align: center;
    }
    .footer__block{
        text-align: center;
    }
    .footer__callback,
    .footer__store-name,
    .footer__block{
        padding-top: 5px;
        text-align: center;
    }
}


