%footer.footer
    .grid-area
        .sm-12.md-4.lg-4.xl-4
            .footer__colon
                .footer__row
                    .footer__store-name
                        %span.footer__book BOOK
                        %span.footer__book STORE
                    .footer__callback
                        .callback
                            .callback__number +7(495) 134-23-20
                            .callback__container
                                %div.callback__img
                                %a.callback__href(href="#" th:text="\#{header.callback}")
 
        .sm-12.md-4.lg-4.xl-4
            .footer__colon 
                .footer__row
                    .footer__block
                        .footer__title(th:text="\#{footer.main-menu-title}") 
                        %a.footer__link-menu(href="/catalog.html" th:text="\#{menu.catalog}") 
                        %a.footer__link-menu(href="/delivery.html" th:text="\#{menu.delivery}") 
                        %a.footer__link-menu(href="/gallery.html" th:text="\#{menu.gallery}") 
                        %a.footer__link-menu(href="/news.html" th:text="\#{menu.news}") 
                        %a.footer__link-menu(href="/contacts.html" th:text="\#{menu.contacts}") 
                        %hr
                        %a.footer__link-menu(href="/sitemap.html" th:text="\#{page.title.site-map}") 

        .sm-12.md-4.lg-4.xl-4
            .footer__colon
                .footer__row
                    .footer__block
                        .footer__title(th:text="\#{footer.we-accept-payment}")
                        %img.footer__link-img(src="/img/paiment/ico_MasterCard.gif")
                        %img.footer__link-img(src="/img/paiment/ico_payPal.gif")
                        %img.footer__link-img(src="/img/paiment/ico_visa.gif")
                        %img.footer__link-img(src="/img/paiment/qiwi.gif")
                    .footer__block
                        .footer__title(th:text="\#{footer.to-keep-abreast}")
                        %img.footer__link-img(src="/img/soc-media/ico_f.gif")
                        %img.footer__link-img(src="/img/soc-media/ico_google.gif")
                        %img.footer__link-img(src="/img/soc-media/ico_inst.gif")
                        %img.footer__link-img(src="/img/soc-media/ico_vk.gif")          