body, html {
    margin: 0;
    padding: 0;
    border: 0
}

body {
    position: relative
}

.user-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(52, 54, 66, .9);
    z-index: 2;
    overflow-y: auto;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    transition: opacity .3s 0, visibility 0 .3s
}

.user-modal_is-visible {
    visibility: visible;
    opacity: 1;
    transition: opacity .3s 0, visibility 0 0
}

.user-modal__container {
    position: relative;
    width: 90%;
    max-width: 600px;
    background: #fff;
    margin: 3em auto 4em;
    cursor: auto;
    border-radius: .25em;
    transform: translateY(-30px);
    transition-property: transform;
    transition-duration: .3s;
    margin-top: 100px
}

.user-modal__switcher:after {
    content: "";
    display: table;
    clear: both
}

.user-modal__switcher {
    list-style-type: none
}

.user-modal__switcher-item {
    width: 50%;
    float: left;
    text-align: center
}

.user-modal__switcher-item:hover {
    cursor: pointer
}

.user-modal__switcher-signup {
    border-radius: .25em 0 0 0
}

.user-modal__switcher-login, .user-modal__switcher-login_selected, .user-modal__switcher-signup, .user-modal__switcher-signup_selected {
    text-decoration: none;
    display: block;
    width: 100%;
    height: 50px;
    line-height: 50px;
    background: #c00;
    color: #fff
}

.user-modal__switcher-login_selected, .user-modal__switcher-signup_selected {
    background: #fff;
    color: #000
}

.user-modal__switcher {
    padding: 0
}

.user-modal__login, .user-modal__signup {
    display: none
}

.user-modal__login_is-selected, .user-modal__signup_is-selected {
    display: block
}

.user-modal__close-form {
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    right: 0;
    top: -25px;
    background: url(/img/icon-close.svg) no-repeat 50%;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden
}

.modal-window, .user-modal__close-form:hover {
    cursor: pointer
}

.modal-window {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(52, 54, 66, .9);
    z-index: 2;
    overflow-y: auto;
    transition: opacity .3s 0, visibility 0 0;
    position: absolute;
    justify-content: center
}

.modal-window__container {
    position: relative;
    width: 90%;
    max-width: 600px;
    background: #fff;
    margin: 3em auto 4em;
    margin-top: 70px;
    cursor: auto;
    border-radius: .25em;
    transition-property: transform;
    transition-duration: .3s
}

.modal-window__form {
    display: block
}

.modal-window__close-form {
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    right: 0;
    top: -21px;
    background: url(/img/icon-close.svg) no-repeat 50%;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden
}

.modal-window__close-form:hover {
    cursor: pointer
}

.form__image-content-item {
    width: 100px
}

.modal-window__confirm-container {
    display: flex;
    flex-wrap: wrap
}

.modal-window__confirm-title {
    text-align: center;
    font-size: 20px;
    padding: 20px;
    width: 100%
}

.modal-window__confirm-btn-container {
    text-align: end;
    width: 100%;
    border: 5px;
    padding: 0 30 30px 0
}

.modal-window__confirm-btn {
    color: #000;
    padding: 10px 40px;
    border: 1px solid #eee;
    border-radius: 5px
}

.modal-window__confirm-btn:hover {
    background-color: #eee
}

.form {
    padding: 1.4em
}

.form__fieldset {
    position: relative;
    margin: 1.4em 0;
    text-align: center
}

.form__image {
    margin-top: 0;
    font-size: 14px;
    font-size: .875rem;
    display: inline-block;
    position: absolute;
    left: 15px;
    top: 50%;
    bottom: auto;
    transform: translateY(-50%);
    height: 20px;
    width: 20px;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    color: transparent;
    text-shadow: none;
    background-repeat: no-repeat;
    background-position: 50% 0
}

.form__image-email {
    background-image: url(/img/form/icon-email.svg)
}

.form__image-password {
    background-image: url(/img/form/icon-password.svg)
}

.form__image-name {
    background-image: url(/img/form/icon-username.svg)
}

.form__image-select {
    background-image: url(/img/form/icon_select.gif)
}

.form__input, .form__select {
    margin: 0;
    padding: 0;
    border-radius: .25em;
    width: 100%;
    padding: 12px 20px 12px 50px;
    border: 1px solid #d2d8d8;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none
}

.form__input:focus, .form__select:focus {
    border-color: #343642;
    box-shadow: 0 0 5px rgba(52, 54, 66, .1);
    outline: none
}

.form__select {
    background-color: #fff
}

.form__select:hover {
    cursor: pointer
}

.form__input_has-error {
    border: 1px solid rgba(190, 70, 48, .9)
}

.form__error-message {
    margin-bottom: 0;
    display: inline-block;
    position: absolute;
    left: -5px;
    bottom: -35px;
    background: rgba(190, 70, 48, .9);
    opacity: .3;
    padding: .8em;
    z-index: 1;
    color: #fff;
    font-size: 13px;
    font-size: .8125rem;
    border-radius: .25em;
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
    transition: opacity .2s 0, visibility 0 .2s
}

.form__error-message:after {
    content: "";
    position: absolute;
    left: 22px;
    bottom: 100%;
    height: 0;
    width: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid rgba(190, 70, 48, .9);
    opacity: .9
}

.form__error-message_is-visible {
    opacity: 1;
    visibility: visible;
    transition: opacity .2s 0, visibility 0 0
}

.form__hide-password {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    padding: 6px 15px;
    border-left: 1px solid #d2d8d8;
    top: 50%;
    bottom: auto;
    transform: translateY(-50%);
    font-size: 14px;
    font-size: .875rem;
    color: #343642
}

.form__submit {
    width: 100%;
    padding: 16px 0;
    cursor: pointer;
    background: #c00;
    color: #fff;
    font-weight: 700;
    border: none;
    appearance: none
}

.form__submit:hover {
    background: #900;
    outline: none
}

@media only screen and (min-width: 0px) {
    .sm-1 {
        float: left
    }

    .sm-1, .sm-r-1 {
        width: 8.3333333333%
    }

    .sm-r-1 {
        float: right
    }

    .sm-2 {
        float: left
    }

    .sm-2, .sm-r-2 {
        width: 16.6666666667%
    }

    .sm-r-2 {
        float: right
    }

    .sm-3 {
        float: left;
        width: 25%
    }

    .sm-r-3 {
        float: right;
        width: 25%
    }

    .sm-4 {
        float: left
    }

    .sm-4, .sm-r-4 {
        width: 33.3333333333%
    }

    .sm-r-4 {
        float: right
    }

    .sm-5 {
        float: left
    }

    .sm-5, .sm-r-5 {
        width: 41.6666666667%
    }

    .sm-r-5 {
        float: right
    }

    .sm-6 {
        float: left;
        width: 50%
    }

    .sm-r-6 {
        float: right;
        width: 50%
    }

    .sm-7 {
        float: left
    }

    .sm-7, .sm-r-7 {
        width: 58.3333333333%
    }

    .sm-r-7 {
        float: right
    }

    .sm-8 {
        float: left
    }

    .sm-8, .sm-r-8 {
        width: 66.6666666667%
    }

    .sm-r-8 {
        float: right
    }

    .sm-9 {
        float: left;
        width: 75%
    }

    .sm-r-9 {
        float: right;
        width: 75%
    }

    .sm-10 {
        float: left
    }

    .sm-10, .sm-r-10 {
        width: 83.3333333333%
    }

    .sm-r-10 {
        float: right
    }

    .sm-11 {
        float: left
    }

    .sm-11, .sm-r-11 {
        width: 91.6666666667%
    }

    .sm-r-11 {
        float: right
    }

    .sm-12 {
        float: left;
        width: 100%
    }

    .sm-r-12 {
        float: right;
        width: 100%
    }

    .sm-hiden {
        visibility: hidden;
        position: absolute
    }
}

@media only screen and (min-width: 576px) {
    .md-1 {
        float: left
    }

    .md-1, .md-r-1 {
        width: 8.3333333333%
    }

    .md-r-1 {
        float: right
    }

    .md-2 {
        float: left
    }

    .md-2, .md-r-2 {
        width: 16.6666666667%
    }

    .md-r-2 {
        float: right
    }

    .md-3 {
        float: left;
        width: 25%
    }

    .md-r-3 {
        float: right;
        width: 25%
    }

    .md-4 {
        float: left
    }

    .md-4, .md-r-4 {
        width: 33.3333333333%
    }

    .md-r-4 {
        float: right
    }

    .md-5 {
        float: left
    }

    .md-5, .md-r-5 {
        width: 41.6666666667%
    }

    .md-r-5 {
        float: right
    }

    .md-6 {
        float: left;
        width: 50%
    }

    .md-r-6 {
        float: right;
        width: 50%
    }

    .md-7 {
        float: left
    }

    .md-7, .md-r-7 {
        width: 58.3333333333%
    }

    .md-r-7 {
        float: right
    }

    .md-8 {
        float: left
    }

    .md-8, .md-r-8 {
        width: 66.6666666667%
    }

    .md-r-8 {
        float: right
    }

    .md-9 {
        float: left;
        width: 75%
    }

    .md-r-9 {
        float: right;
        width: 75%
    }

    .md-10 {
        float: left
    }

    .md-10, .md-r-10 {
        width: 83.3333333333%
    }

    .md-r-10 {
        float: right
    }

    .md-11 {
        float: left
    }

    .md-11, .md-r-11 {
        width: 91.6666666667%
    }

    .md-r-11 {
        float: right
    }

    .md-12 {
        float: left;
        width: 100%
    }

    .md-r-12 {
        float: right;
        width: 100%
    }

    .md-hiden {
        visibility: hidden;
        position: absolute
    }
}

@media only screen and (min-width: 768px) {
    .lg-1 {
        float: left
    }

    .lg-1, .lg-r-1 {
        width: 8.3333333333%
    }

    .lg-r-1 {
        float: right
    }

    .lg-2 {
        float: left
    }

    .lg-2, .lg-r-2 {
        width: 16.6666666667%
    }

    .lg-r-2 {
        float: right
    }

    .lg-3 {
        float: left;
        width: 25%
    }

    .lg-r-3 {
        float: right;
        width: 25%
    }

    .lg-4 {
        float: left
    }

    .lg-4, .lg-r-4 {
        width: 33.3333333333%
    }

    .lg-r-4 {
        float: right
    }

    .lg-5 {
        float: left
    }

    .lg-5, .lg-r-5 {
        width: 41.6666666667%
    }

    .lg-r-5 {
        float: right
    }

    .lg-6 {
        float: left;
        width: 50%
    }

    .lg-r-6 {
        float: right;
        width: 50%
    }

    .lg-7 {
        float: left
    }

    .lg-7, .lg-r-7 {
        width: 58.3333333333%
    }

    .lg-r-7 {
        float: right
    }

    .lg-8 {
        float: left
    }

    .lg-8, .lg-r-8 {
        width: 66.6666666667%
    }

    .lg-r-8 {
        float: right
    }

    .lg-9 {
        float: left;
        width: 75%
    }

    .lg-r-9 {
        float: right;
        width: 75%
    }

    .lg-10 {
        float: left
    }

    .lg-10, .lg-r-10 {
        width: 83.3333333333%
    }

    .lg-r-10 {
        float: right
    }

    .lg-11 {
        float: left
    }

    .lg-11, .lg-r-11 {
        width: 91.6666666667%
    }

    .lg-r-11 {
        float: right
    }

    .lg-12 {
        float: left;
        width: 100%
    }

    .lg-r-12 {
        float: right;
        width: 100%
    }

    .lg-hiden {
        visibility: hidden;
        position: absolute
    }
}

@media only screen and (min-width: 1200px) {
    .xl-1 {
        float: left
    }

    .xl-1, .xl-r-1 {
        width: 8.3333333333%
    }

    .xl-r-1 {
        float: right
    }

    .xl-2 {
        float: left
    }

    .xl-2, .xl-r-2 {
        width: 16.6666666667%
    }

    .xl-r-2 {
        float: right
    }

    .xl-3 {
        float: left;
        width: 25%
    }

    .xl-r-3 {
        float: right;
        width: 25%
    }

    .xl-4 {
        float: left
    }

    .xl-4, .xl-r-4 {
        width: 33.3333333333%
    }

    .xl-r-4 {
        float: right
    }

    .xl-5 {
        float: left
    }

    .xl-5, .xl-r-5 {
        width: 41.6666666667%
    }

    .xl-r-5 {
        float: right
    }

    .xl-6 {
        float: left;
        width: 50%
    }

    .xl-r-6 {
        float: right;
        width: 50%
    }

    .xl-7 {
        float: left
    }

    .xl-7, .xl-r-7 {
        width: 58.3333333333%
    }

    .xl-r-7 {
        float: right
    }

    .xl-8 {
        float: left
    }

    .xl-8, .xl-r-8 {
        width: 66.6666666667%
    }

    .xl-r-8 {
        float: right
    }

    .xl-9 {
        float: left;
        width: 75%
    }

    .xl-r-9 {
        float: right;
        width: 75%
    }

    .xl-10 {
        float: left
    }

    .xl-10, .xl-r-10 {
        width: 83.3333333333%
    }

    .xl-r-10 {
        float: right
    }

    .xl-11 {
        float: left
    }

    .xl-11, .xl-r-11 {
        width: 91.6666666667%
    }

    .xl-r-11 {
        float: right
    }

    .xl-12 {
        float: left;
        width: 100%
    }

    .xl-r-12 {
        float: right;
        width: 100%
    }

    .xl-hiden {
        visibility: hidden;
        position: absolute
    }
}

.grid-area {
    width: 100%;
    margin-left: auto;
    margin-right: auto
}

.search-form {
    width: 100%
}

.search-form__content {
    border: 1px solid gray
}

.search-form__input {
    font-size: 15px;
    color: #000;
    outline: 0;
    width: calc(100% - 40px);
    background: none;
    border: 0;
    padding-left: 20px;
    padding-right: 20px;
    height: 40px
}

.search-form__button {
    height: 30px;
    width: 30px;
    float: right;
    margin-top: 5px;
    margin-right: 10px
}

.menu {
    width: 100%;
    background-color: #c00;
    font-family: Ubuntu, sans-serif
}

.menu__container {
    margin: 0 auto;
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    flex-wrap: nowrap
}

.menu__schow-btn {
    position: absolute;
    visibility: hidden
}

.menu__item {
    float: left;
    width: 20%
}

.menu__link {
    display: block;
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    text-align: center;
    padding: 14px 0
}

.menu__link:hover {
    background-color: #900;
    cursor: pointer
}

@media screen and (max-width: 576px) {
    .menu__item {
        float: none;
        width: 100%
    }

    .menu__container {
        position: absolute;
        visibility: hidden
    }

    .menu__schow-btn {
        position: inherit;
        visibility: visible
    }
}

.hiden {
    position: absolute;
    visibility: hidden
}

@media screen and (min-width: 1200px) {
    .menu__container {
        width: 1200px;
        position: inherit;
        visibility: visible
    }
}

@media screen and (min-width: 1200px) {
    .menu__schow-btn {
        position: absolute;
        visibility: hidden
    }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
    .menu__container {
        position: inherit;
        visibility: visible
    }

    .menu__schow-btn {
        position: absolute;
        visibility: hidden
    }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
    .menu__container {
        position: inherit;
        visibility: visible
    }

    .menu__schow-btn {
        position: absolute;
        visibility: hidden
    }
}

.visible {
    position: inherit;
    visibility: visible
}

.callback__number {
    font-size: 25px;
    color: #c00
}

.callback__img {
    width: 20px;
    height: 20px;
    background: url(/img/ico_phone_red.gif);
    display: inline-block;
    margin: 5px
}

.callback__container {
    display: flex;
    align-items: center;
    justify-content: center
}

.callback__href {
    color: #c00;
    font-size: 20px;
    text-decoration: none
}

.callback__href:hover {
    color: #900;
    cursor: pointer
}

.locales {
    border: 0;
    margin: 2px;
    background: none;
    text-decoration: none;
    color: #000;
    padding: 0 10px;
    font-size: 18px
}

.locales:hover, .locales__item:hover {
    cursor: pointer
}

.controll__img_locale {
    background: url(/img/ico_lang_24.png) 50% no-repeat
}

.locale__item {
    text-decoration: none;
    color: #000;
    font-size: 20px
}

.locale__item_current {
    font-weight: 700;
    font-family: arial, sans-serif
}

.locale__item:hover {
    cursor: pointer
}

.locale__item_current:hover {
    cursor: default
}

.header__container {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    position: relative
}

.header__emblem-container {
    box-sizing: border-box;
    padding: 10px
}

.header__emblem {
    height: 90px;
    width: 110;
    background: url(/img/logo_red.gif);
    transition: 1s
}

.header__emblem:hover {
    transform: scale(1.1)
}

.header__search {
    box-sizing: border-box;
    margin-top: 30px
}

.header__callback {
    font-weight: 700;
    box-sizing: border-box;
    padding: 25px 0;
    text-align: center
}

.header__link-container {
    margin-top: 20px
}

.header__link {
    text-decoration: none;
    color: #000;
    font-size: 16px;
    font-family: arial, sans-serif
}

.header__link:hover {
    color: #3a3a3a;
    cursor: pointer
}

.header__color-scheme {
    display: block;
    position: absolute;
    right: 0
}

.header__color-scheme-item {
    display: block;
    width: 20px;
    height: 20px;
    margin: 5px;
    display: inline-block
}

.header__color-scheme-item_red {
    background-color: #c00
}

.header__color-scheme-item_green {
    background-color: #30cc00
}

.header__color-scheme-item_blue {
    background-color: #00ccc2
}

.header__color-scheme-item:hover {
    transform: scale(1.4);
    cursor: pointer
}

.header__link-wrapper {
    float: left
}

.control__img {
    width: 24px;
    height: 24px;
    display: inline-block;
    top: 4px;
    margin: 0 5px 0 0;
    position: relative
}

.conctroll__img_login-signup {
    background: url(/img/ico_login_24.png) 50% no-repeat
}

.conctroll__img_logout {
    background: url(/img/ico_logout_24.png) 50% no-repeat
}

.control__img_admin-panel {
    background: url(/img/ico_admin_24.png) 50% no-repeat
}

.control__img_user-account {
    background: url(/img/ico_user_24.png) 50% no-repeat
}

.control__img_basket {
    background: url(/img/icon-shopping-cart.png)50% no-repeat
}

.footer {
    padding: 1rem;
    text-align: center;
    display: flex
}

.footer__colon {
    display: flex;
    justify-content: start
}

.footer__store-name {
    text-align: start;
    font-size: 25px;
    color: #242323
}

.footer__store {
    font-weight: 700
}

.footer__callback {
    text-align: start
}

.footer__title {
    font-size: 25px;
    color: #242323;
    font-weight: 700
}

.footer__link-menu {
    color: #242323;
    font-size: 15px;
    margin-top: 5px;
    text-decoration: none;
    display: block
}

.footer__link-menu:hover {
    color: #000
}

.footer__link-img {
    height: 20px;
    margin: 10px 15px 10px 0;
    border: 1px
}

.footer__link-img:hover {
    opacity: .8;
    cursor: pointer;
    transform: scale(1.008)
}

.footer__block {
    text-align: start
}

@media screen and (max-width: 576px) {
    .footer__colon {
        display: flex;
        justify-content: center
    }

    .footer {
        position: relative
    }

    .footer, .footer__block {
        text-align: center
    }

    .footer__block, .footer__callback, .footer__store-name {
        padding-top: 5px;
        text-align: center
    }
}

.media-container {
    overflow: hidden;
    width: 100%
}

.media-container__item {
    width: 100%;
    display: inherit;
    margin: 0 auto
}

@media screen and (min-width: 1200px) {
    .media-container {
        width: 1200px;
        margin-left: calc(50% - 600px)
    }
}

@media screen and (max-width: 576px) {
    .media-container {
        float: none;
        width: 100%;
        display: block
    }
}

.slider {
    position: relative;
    overflow: hidden
}

.slider__wrapper {
    display: flex;
    transition: transform .6s ease
}

.slider__item {
    flex: 0 0 100%;
    max-width: 100%
}

.slider__item_center {
    justify-content: center;
    display: flex
}

.slider__img {
    width: 100%
}

.slider__control {
    position: absolute;
    top: 50%;
    display: none;
    align-items: center;
    justify-content: center;
    width: 40px;
    color: #fff;
    text-align: center;
    opacity: .5;
    height: 50px;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, .5)
}

.slider__control_show {
    display: flex
}

.slider__control:focus, .slider__control:hover {
    color: #fff;
    text-decoration: none;
    outline: 0;
    opacity: .9
}

.slider__control_left {
    left: 0
}

.slider__control_right {
    right: 0
}

.slider__control:before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background: transparent no-repeat 50%;
    background-size: 100% 100%
}

.slider__control_left:before {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E")
}

.slider__control_right:before {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E")
}

.title, .title_red {
    width: 100%
}

.title_red {
    background-color: #c00
}

.title_red .title__text {
    color: #fff;
    font-size: 20px;
    padding: 10px 15px
}

.title__text {
    font-weight: 700;
    padding: 15px;
    color: #000;
    font-size: 30px
}

.title__sub-text {
    font-size: 18px;
    line-height: 24px;
    color: #363636;
    font-family: Roboto, arial, sans-serif;
    margin-bottom: 25px
}

.title__text_center {
    color: #000;
    font-size: 2.25em;
    font-weight: 400;
    line-height: 1.25em;
    margin: 0 0 .5em;
    font-size: 2em;
    margin: .67em 0
}

.title__sub-text_center, .title__text_center {
    text-align: center;
    font-family: semplicitapro, Helvetica, Arial, sans-serif;
    line-height: 1.6875em
}

.title__sub-text_center {
    margin: 0 0 1.2em;
    font-size: 16px;
    color: #363636
}

.comments {
    display: flex
}

.comments__item {
    background-color: #efefef;
    width: 100%;
    max-width: 250px;
    margin: 10px auto;
    border-radius: 2px;
    padding: 2px
}

.comments__image {
    box-sizing: border-box;
    margin: 8px;
    width: calc(100% - 16px)
}

.comments__commentator-name {
    margin: 8px;
    color: #474747;
    font-weight: 700;
    font-size: 20px
}

.comments__content {
    margin: 8px;
    color: #5b5b5b
}

@media screen and (max-width: 576px) {
    .comments {
        display: block;
        float: none;
        width: 100%
    }
}

.feedback {
    margin: 30px 5px
}

.feedback__container {
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid #d6d6d6;
    border-top: 0;
    display: flex
}

.feedback__item-title {
    margin: 0 5px;
    color: #474747
}

.feedback__item__field {
    border: 1px solid gray;
    color: #000;
    outline: 0;
    width: calc(100% - 10px);
    background: none;
    padding-left: 10px;
    padding-right: 1 0
}

.feedback__item__field, .feedback__send-btn {
    box-sizing: border-box;
    margin: 5px;
    font-size: 15px;
    height: 40px
}

.feedback__send-btn {
    font-weight: 700;
    background-color: #c00;
    padding: 0 5px;
    border: none;
    bottom: 0;
    border-radius: 2px;
    color: #fff
}

.feedback__send-btn:hover {
    background-color: #900;
    cursor: pointer
}

.feedback__check-box {
    float: left
}

.feedback__check-box-text {
    color: #474747
}

.horosontal-line {
    border-top: 1px solid #d6d6d6;
    width: 100%;
    margin: 3px 0
}

@media only screen and (min-width: 0px) {
    .sm-flex-1 {
        flex: 0 0 8.3333333333%
    }

    .sm-flex-2 {
        flex: 0 0 16.6666666667%
    }

    .sm-flex-3 {
        flex: 0 0 25%
    }

    .sm-flex-4 {
        flex: 0 0 33.3333333333%
    }

    .sm-flex-5 {
        flex: 0 0 41.6666666667%
    }

    .sm-flex-6 {
        flex: 0 0 50%
    }

    .sm-flex-7 {
        flex: 0 0 58.3333333333%
    }

    .sm-flex-8 {
        flex: 0 0 66.6666666667%
    }

    .sm-flex-9 {
        flex: 0 0 75%
    }

    .sm-flex-10 {
        flex: 0 0 83.3333333333%
    }

    .sm-flex-11 {
        flex: 0 0 91.6666666667%
    }

    .sm-flex-12 {
        flex: 0 0 100%
    }
}

@media only screen and (min-width: 576px) {
    .md-flex-1 {
        flex: 0 0 8.3333333333%
    }

    .md-flex-2 {
        flex: 0 0 16.6666666667%
    }

    .md-flex-3 {
        flex: 0 0 25%
    }

    .md-flex-4 {
        flex: 0 0 33.3333333333%
    }

    .md-flex-5 {
        flex: 0 0 41.6666666667%
    }

    .md-flex-6 {
        flex: 0 0 50%
    }

    .md-flex-7 {
        flex: 0 0 58.3333333333%
    }

    .md-flex-8 {
        flex: 0 0 66.6666666667%
    }

    .md-flex-9 {
        flex: 0 0 75%
    }

    .md-flex-10 {
        flex: 0 0 83.3333333333%
    }

    .md-flex-11 {
        flex: 0 0 91.6666666667%
    }

    .md-flex-12 {
        flex: 0 0 100%
    }
}

@media only screen and (min-width: 768px) {
    .lg-flex-1 {
        flex: 0 0 8.3333333333%
    }

    .lg-flex-2 {
        flex: 0 0 16.6666666667%
    }

    .lg-flex-3 {
        flex: 0 0 25%
    }

    .lg-flex-4 {
        flex: 0 0 33.3333333333%
    }

    .lg-flex-5 {
        flex: 0 0 41.6666666667%
    }

    .lg-flex-6 {
        flex: 0 0 50%
    }

    .lg-flex-7 {
        flex: 0 0 58.3333333333%
    }

    .lg-flex-8 {
        flex: 0 0 66.6666666667%
    }

    .lg-flex-9 {
        flex: 0 0 75%
    }

    .lg-flex-10 {
        flex: 0 0 83.3333333333%
    }

    .lg-flex-11 {
        flex: 0 0 91.6666666667%
    }

    .lg-flex-12 {
        flex: 0 0 100%
    }
}

@media only screen and (min-width: 1200px) {
    .xl-flex-1 {
        flex: 0 0 8.3333333333%
    }

    .xl-flex-2 {
        flex: 0 0 16.6666666667%
    }

    .xl-flex-3 {
        flex: 0 0 25%
    }

    .xl-flex-4 {
        flex: 0 0 33.3333333333%
    }

    .xl-flex-5 {
        flex: 0 0 41.6666666667%
    }

    .xl-flex-6 {
        flex: 0 0 50%
    }

    .xl-flex-7 {
        flex: 0 0 58.3333333333%
    }

    .xl-flex-8 {
        flex: 0 0 66.6666666667%
    }

    .xl-flex-9 {
        flex: 0 0 75%
    }

    .xl-flex-10 {
        flex: 0 0 83.3333333333%
    }

    .xl-flex-11 {
        flex: 0 0 91.6666666667%
    }

    .xl-flex-12 {
        flex: 0 0 100%
    }
}

.account {
    margin: 50px 0 20px
}

.account__container {
    display: flex;
    box-sizing: border-box;
    border: 1px solid #d6d6d6;
    border-radius: 5px;
    margin: 5px 0 10px
}

.account__wraper {
    width: 100%
}

.account__img {
    box-sizing: border-box;
    height: auto;
    width: 100%
}

.account__wraper:hover {
    cursor: pointer
}

.account__config-img-wrapper {
    width: 100%;
    display: none;
    background: rgba(0, 0, 0, .21)
}

.account__config-img, .account__config-img-wrapper {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    margin: auto
}

.account__config-img {
    max-width: 100%;
    max-height: 100%;
    width: 100px
}

.account__img-wrapper {
    box-sizing: border-box;
    margin: 5px 10px 5px 0;
    max-width: 300px;
    margin: 0 auto;
    position: relative;
    border-radius: 50%;
    overflow: hidden
}

.account__img-wrapper:hover {
    cursor: pointer
}

.account__img-wrapper:hover .account__config-img-wrapper {
    display: block
}

.account__item, .account__item_title {
    display: flex
}

.account__title {
    font-family: Google Sans, Roboto, Arial, sans-serif;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.5rem
}

.account__item-content, .account__item-content_last {
    border-bottom: 1px solid #d6d6d6;
    box-sizing: border-box;
    margin-left: 30px;
    display: flex;
    padding: 15px 0
}

.account__item-content_last {
    border-bottom: 0
}

.account__item:hover {
    background-color: #f5f5f5;
    cursor: pointer;
    border-radius: 5px
}

.account__key {
    font-family: Roboto, Arial, sans-serif;
    font-size: .6875rem;
    font-weight: 500;
    color: #5f6368;
    line-height: 1rem;
    text-transform: uppercase
}

.account__value, .account__value_editable {
    letter-spacing: .00625em;
    font-family: Roboto, Arial, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    word-break: break-word;
    word-wrap: break-word;
    color: #202124
}

.account__value_editable {
    border: 0;
    width: 90%;
    box-sizing: border-box;
    padding: 0;
    border-radius: 5px
}

.account__value_editable_with_error, .account__value_editable_with_error:hover {
    background: #e4b7b7
}

.account__field-controll-container {
    margin: 5px;
    position: absolute;
    display: flex;
    border: 1px solid #a0a0a0;
    background-color: #fff;
    border-radius: 5px
}

.account__field-error-container {
    position: absolute;
    width: 100%
}

.account__field-error-message {
    margin-bottom: 0;
    display: inline-block;
    position: absolute;
    left: 20px;
    bottom: 32px;
    background: rgba(190, 70, 48, .9);
    opacity: .3;
    padding: .6em;
    z-index: 1;
    color: #fff;
    font-size: 13px;
    font-size: .8125rem;
    border-radius: .25em;
    pointer-events: none;
    opacity: 1
}

.account__field-error-message:after {
    content: "";
    position: absolute;
    left: 22px;
    top: 100%;
    height: 0;
    width: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid rgba(190, 70, 48, .9);
    opacity: .9;
    transform: rotate(180deg)
}

.account__field-controll {
    padding: 5px;
    border-radius: 5px;
    box-sizing: border-box
}

.account__field-controll:hover {
    cursor: pointer;
    background-color: #f5f5f5
}

.order__item {
    border: 1px solid #d6d6d6;
    border-radius: 5px;
    display: flex;
    margin: 5px 0
}

.order__wraper {
    width: 100%
}

.order__title {
    font-family: Google Sans, Roboto, Arial, sans-serif;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.5rem;
    margin: 10px
}

.order__img-wraper {
    width: 100%;
    text-align: center;
    padding: 2px
}

.order__img {
    max-width: 100px;
    max-height: 100px;
    border-radius: 5px
}

.order__name {
    font-weight: 400;
    padding: 10px
}

.order__name, .order__prime {
    font-family: Google Sans, Roboto, Arial, sans-serif;
    font-size: 1.125rem;
    line-height: 1.5rem
}

.order__prime {
    font-weight: 700;
    color: #0b0b0c;
    padding: 10px 0 0 10px
}

.order__prime-postfix {
    color: #0b0b0c;
    font-size: .8rem
}

.order__date {
    text-align: end;
    padding: 10px 30px 0 10px
}

.photo-slider {
    margin: 35px 20px
}

.photo-slider__container {
    width: 100%;
    height: 300px
}

.photo-slider__item {
    display: none;
    max-height: 400px;
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto
}

.photo-slider__control {
    text-align: center;
    display: flex;
    justify-content: center
}

.photo-slider__bth {
    background: none;
    border: 0;
    margin: 2px;
    padding: 0;
    height: 200px;
    outline: 0
}

.photo-slider__btn-image {
    max-width: 100px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5)
}

.photo-slider__btn-image:hover {
    cursor: pointer;
    transform: scale(1.008)
}

.book-description {
    margin: 30px 0 15px 0
}

.book-description__name {
    font-size: 25px;
    font-weight: 700;
    color: #474747
}

.book-description__author-prefix {
    padding: 0 5px 0 0;
    color: #474747
}

.book-description__author-name {
    color: #474747;
    font-weight: 700;
    font-size: 20px
}

.book-description__content-title {
    color: #474747;
    font-weight: 700;
    font-size: 18px
}

.book-description__content {
    font-size: 18px;
    margin: 5px 5px 0 0
}

.book-description__container, .book-description__control-container {
    margin: 20px 0;
    display: flex;
    align-items: flex-end
}

.book-description__inline-container {
    display: flex
}

.book-description__control-container {
    margin: 40px 0
}

.book-description__price-container {
    margin: 0 0 0 50px;
    display: flex
}

.book-description__price {
    color: #c00;
    font-weight: 700;
    font-size: 30px
}

.book-description__price-postfix {
    color: #c00;
    font-size: 15px;
    position: relative;
    top: 12px
}

.book-description__by-btn {
    padding: 10px 20px;
    color: #fff;
    font-weight: 700;
    font-size: 15px;
    border: 0;
    margin: 0;
    background-color: #c00
}

.counter{
    box-sizing: border-box;
    width: 100%;
    border-radius: 30px;
    padding: 5px;
    text-align: center;
    margin: 1px;
}



@media screen and (max-width: 576px) {
    .book-description__control-container {
        display: block
    }

    .book-description__by-btn {
        margin: 10px 0;
    }
    .item-type{
        width: 30px;
    }
}

.book-description__by-btn:hover {
    cursor: pointer;
    background-color: #900;

}
.book-buy {
   margin: 10px 50px;

}
.total-cart{
    margin: 0 0 20px 30px;
}
.item-type{
    width: 60px;
    height: 37px;
    border: none;
    padding: 8px 0 8px 25px;
}

.book-comments {
    box-sizing: border-box;
    padding: 5px
}



.book-comments__container {
    padding: 5px 0 0
}

.book-comments__item {
    padding: 15px 0
}

.book-comments__commentator {
    font-weight: 700;
    color: #474747
}

.book-comments__date-img {
    float: left;
    width: 20px;
    height: 20px;
    padding: 0 3px 0 0
}

.book-comments__date {
    color: #474747
}

.book-comments__new-comment, .book-comments__new-comment-btn {
    height: 40px
}

.book {
    box-sizing: border-box;
    width: 100%;
    border-radius: 30px;
    padding: 5px;
    text-align: center;
    margin: 1px;
    border: 1px solid #fff;
    border-radius: 5px;
    max-width: 200px;
    height: 100%;
}



.book:hover .book__name {
    color: #900
}

.book:hover .book__icon {
    transform: scale(1.15)
}

.book__link {
    text-decoration: none;
    display: flex;
    flex-wrap: wrap;
    height: 100%
}

.book__icon-container {
    overflow: hidden;
    height: 70%
}

.book__icon {
    width: 100%;
    display: block;
    background: #ccc;
    transition: transform .2s ease-in-out;
    border: none
}

.book__text-container {
    height: 30%;
    width: 100%
}

.book__name {
    margin-top: 5px;
    font-size: 20px;
    font-weight: 700;
    height: 40px;
    color: #c00
}

.book_author {
    font-size: 15px;
    color: gray;
    margin-top: 10px;
    height: 30px;
}

.book__price {
    font-size: 15px;
    color: #fff;
    font-weight: 700;
    margin-top: 5px;
    position: absolute;
    background: #c00;
    padding: 5px
}

.catalog__items {
    margin: 50px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
}

.catalog__item {
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
}

@media screen and (max-width: 576px) {
    .catalog__item {
        display: inherit;
        height: auto
    }
}

.catalog__genres {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    flex-wrap: nowrap;
    color: #fff;
    margin: 0 auto
}

.catalog__genre {
    background: #c00
}

.catalog__genre, .catalog__genre_kook_name {
    float: left;
    padding: 10px;
    border-radius: 5px;
    margin: 2px
}

.catalog__genre_kook_name {
    background: #0063de
}

.catalog__genre-check-box {
    margin: 0;
    padding: 0;
    border: 0
}

.catalog_genre-label {
    padding: 5px
}

.catalog_genre-label:hover {
    cursor: pointer
}

.catalog__genre:hover {
    background: #900;
    cursor: pointer
}

.news__container, .news__item {
    display: flex;
    flex-wrap: wrap
}

.news__item {
    box-sizing: border-box;
    padding: 5px;
    justify-content: center
}

.new__item_modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(52, 54, 66, .9);
    z-index: 2;
    overflow-y: auto;
    opacity: 1;
    transition: opacity .3s 0, visibility 0 0;
    display: block
}

.new {
    width: 100%;
    border-radius: 10px;
    border: 1px solid #d6d6d6;
    overflow: hidden
}

.new, .new_modal {
    position: relative
}

.new_modal {
    background-color: #ccc;
    width: 90%;
    max-width: 600px;
    background: #fff;
    margin: 3em auto 4em;
    border-radius: .25em;
    transform: translateY(-30px);
    transition-property: transform;
    transition-duration: .3s;
    margin-top: 100px;
    overflow: visible
}

.new__link, .new_modal {
    text-decoration: none
}

.new__link_modal:hover {
    cursor: auto
}

.new:hover .new__icon {
    transform: scale(1.15)
}

.new:hover .new_content {
    text-decoration: underline
}

.new_modal:hover .new__icon {
    transform: none
}

.new_modal:hover .new_content {
    text-decoration: none
}

.new__icon-container {
    overflow: hidden;
    height: 150px;
    text-align: center;
    text-align: -webkit-center
}

.new__content-container {
    border-radius: 0 0 10px 10px;
    box-sizing: border-box;
    padding: 0 2px 15px
}

.new__icon {
    height: 100%;
    display: block;
    background: #ccc;
    transition: transform .2s ease-in-out;
    border: none
}

.new__title {
    text-decoration: none
}

.new_content {
    margin: 5px 5px 30px;
    white-space: normal;
    font-size: 16px;
    line-height: 1.375;
    color: #1a0dab
}

.new_content, .new_date {
    font-family: arial, sans-serif
}

.new_date {
    color: #777;
    line-height: 1.33;
    white-space: nowrap;
    font-size: 12px;
    font-weight: 400;
    position: absolute;
    bottom: 20px;
    left: 20px
}

.new_full-text {
    position: fixed;
    visibility: hidden;
    white-space: normal;
    font-size: 16px;
    line-height: 1.375;
    color: #000;
    font-family: arial, sans-serif;
    margin: 5px 5px 30px
}

.new_full-text_modal {
    position: inherit;
    visibility: visible
}

.new__close-form {
    display: block;
    position: absolute;
    visibility: hidden;
    right: 0;
    top: -25px;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden
}

.new__close-form-img {
    width: 20px;
    height: 20px;
    background: url(/img/icon-close.svg) no-repeat 50%
}

.new_modal__close-form {
    visibility: visible
}

.gallery_modal {
    position: relative;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(52, 54, 66, .9);
    z-index: 2;
    overflow-y: auto;
    cursor: pointer;
    justify-content: center;
    display: flex;
    align-items: center
}

.gallery_modal .gallery__closer {
    visibility: visible;
    position: absolute
}

.gallery__closer {
    width: 100%;
    height: 100%;
    position: fixed;
    background-position-x: 20px;
    background-position-y: 20px;
    visibility: hidden
}

.gallery__closer-img {
    width: 20px;
    height: 20px;
    background: url(/img/icon-close.svg) 50%;
    float: right;
    margin: 40px
}

.gallery__wrapper {
    transition: transform .6s ease;
    display: flex;
    flex-wrap: wrap;
    align-items: center
}

.gallery__wrapper_modal {
    flex-wrap: inherit;
    height: 70%
}

.gallery__items {
    margin: 20px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline
}

.gallery__item {
    padding: 5px;
    box-sizing: border-box;
    max-height: 200px
}

.gallery__item_modal {
    flex: 0 0 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 100%;
    height: 100%
}

.gallery__item:hover {
    cursor: pointer
}

.gallery__item_modal:hover {
    cursor: default
}

.gallery__container {
    max-width: 1200px;
    overflow: hidden
}

.gallery__container_modal {
    height: 100%;
    width: 100%;
    max-height: 500px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center
}

.gallery__img {
    width: 100%;
    height: 100%;
    transition: transform .2s ease-in-out
}

.gallery__img:hover {
    transform: scale(1.15)
}

.gallery__img_wide {
    width: 100%;
    max-width: 100%;
    height: auto
}

.gallery__img_tall {
    max-height: 100%;
    width: auto;
    height: auto
}

.gallery__img_tall:hover, .gallery__img_wide:hover {
    transform: none
}

@media screen and (max-width: 576px) {
    .gallery__item {
        display: inherit
    }
}

.gallery__control {
    position: absolute;
    top: 50%;
    display: none;
    align-items: center;
    justify-content: center;
    width: 40px;
    color: #fff;
    text-align: center;
    opacity: .5;
    height: 50px;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, .5)
}

.gallery__control_show {
    display: flex
}

.gallery__control:focus, .gallery__control:hover {
    color: #fff;
    text-decoration: none;
    outline: 0;
    opacity: .9
}

.gallery__control_left {
    left: 0
}

.gallery__control_right {
    right: 0
}

.gallery__control:before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background: transparent no-repeat 50%;
    background-size: 100% 100%
}

.gallery__control_left:before {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E")
}

.gallery__control_right:before {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E")
}

.contacts_map-wraper {
    max-height: 400px;
    box-sizing: border-box
}

.contacts__info, .contacts_map-wraper {
    border: 1px solid #d6d6d6;
    border-radius: 5px;
    padding: 5px
}

@media screen and (max-width: 576px) {
    .contacts__info, .contacts_map-wraper {
        margin: 2px 2px 15px
    }
}

.contacts__info:hover {
    box-shadow: 0 0 10px #757575
}

.contacts__title {
    color: #202124;
    font-family: Google Sans, Arial, Helvetica, sans-serif;
    font-size: 1.4375rem;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 1.875rem
}

.contacts__text {
    font-weight: 400;
    line-height: 1.71429;
    font-size: 1rem;
    letter-spacing: .25px;
    color: #757575;
    font-family: Roboto, Arial, Helvetica, sans-serif
}

.table-pagination {
    width: 100%;
    display: flex;
    justify-content: center;
    visibility: hidden
}

.table-pagination__current, .table-pagination__next, .table-pagination__previous {
    visibility: hidden;
    font-size: 20px
}

.table-pagination__item_clicabl:hover {
    cursor: pointer
}

.table-pagination_vivible {
    visibility: visible
}

.table__image-item {
    max-width: 100px
}

@media (max-width: 991px) {
    .header-desktop {
        position: relative;
        top: 0;
        left: 0;
        height: 100px
    }
}

.book-buy-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(52, 54, 66, .9);
    z-index: 2;
    overflow-y: auto;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    transition: opacity .3s 0, visibility 0 .3s
}

.modal_is-visible {
    visibility: visible;
    opacity: 1;
    transition: opacity .3s 0, visibility 0 0
}

.modal__container {
    position: relative;
    width: 90%;
    max-width: 600px;
    background: #fff;
    margin: 3em auto 4em;
    cursor: auto;
    border-radius: .25em;
    transform: translateY(-30px);
    transition-property: transform;
    transition-duration: .3s;
    margin-top: 100px
}

.modal__switcher:after {
    content: "";
    display: table;
    clear: both
}

.modal__switcher {
    list-style-type: none
}

.modal__switcher-item {
    width: 50%;
    float: left;
    text-align: center
}

.modal__switcher-second {
    border-radius: .25em 0 0 0
}

.modal__switcher-first, .modal__switcher-first_selected, .modal__switcher-second, .modal__switcher-second_selected {
    text-decoration: none;
    display: block;
    width: 100%;
    height: 50px;
    line-height: 50px;
    background: #c00;
    color: #fff
}

.modal__switcher-first_selected, .modal__switcher-second_selected {
    background: #fff;
    color: #000
}

.modal__switcher {
    padding: 0
}

.modal__first, .modal__second {
    display: none
}

.modal__first_is-selected, .modal__second_is-selected {
    display: block
}

.modal__close-form {
    display: block;
    position: absolute;
    width: 40px;
    height: 40px;
    right: 0;
    top: -40px;
    background: url(/img/icon-close.svg) no-repeat 50%;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden
}

.sussess_mes {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
    border: 1px solid transparent;
    border-radius: 4px
}

.error_mes, .sussess_mes {
    padding: 15px;
    margin-bottom: 20px;
    font-family: Verdana, sans-serif;
    font-size: 15px;
    line-height: 1.5
}

.error_mes {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    border: 1px solid transparent;
    border-radius: 4px
}

.map-site__item {
    margin: 10px
}

.new-item {
    width: 100%;
    display: flex;
    justify-content: center
}

.new-item__img {
    max-width: 100%
}

.new-item__date {
    color: #5a5a5a;
    margin: 0 0 10px
}

.new-item__title {
    font-weight: 700;
    color: #000;
    font-size: 30px
}

.new-item__text {
    font-size: 18px;
    line-height: 24px;
    color: #363636;
    font-family: Roboto, arial, sans-serif;
    margin: 15px 0 25px
}