.feedback {
   margin: 30px 5px;
}
.feedback__container{

    box-sizing: border-box;
    padding: 10px 10px;
    border: 1px solid $theme-main-horisontal-line-color;
    border-top: 0;
    display: flex;
}
.feedback__item{

}
.feedback__item-title{
    margin: 0 5px;
    color:#474747;
}
.feedback__item__field{
    border:1px solid gray;
    box-sizing: border-box;
    margin: 5px;
    font-size: 15px;
    color: black;
    outline: 0;
    width: calc(100% - 10px); 
    background: none;
    padding-left: 10px;
    padding-right: 1    0px;
    height: 40px;
}
.feedback__send-btn{
    box-sizing: border-box;
    font-size: 15px;
    margin: 5px;
    font-weight: bold;
    height: 40px;
    background-color: $theme-main-color;
    padding: 0 5px;
    border: none; 
    bottom: 0;
    border-radius: 2px;
    color: white;
}
.feedback__send-btn:hover{ 
    background-color: $theme-main-color_hover;
    cursor: pointer;
}
.feedback__check-box {
    float: left;
}
.feedback__check-box-text{
    color:#474747;

}