%form.feedback
    .title_red
        .title__text(th:text="\#{callback-form.title}")
    .feedback__container
        .grid-area
            .sm-12.md-10.lg-10.xl-10
                .sm-12.md-6.lg-6.xl-6
                    .feedback__item
                        .feedback__item-title(th:text="\#{callback-form.name}")
                        %input.feedback__item__field{}
                .sm-12.md-6.lg-6.xl-6
                    .feedback__item
                        .feedback__item-title(th:text="\#{callback-form.phone}")
                        %input.feedback__item__field{}
                .sm-12.md-12.lg-12.xl-12
                    .feedback__item
                        %input.feedback__check-box{type:'checkbox'} 
                        .feedback__check-box-text(th:text="\#{callback-form.rules}")
            .sm-12.md-2.lg-2.xl-2
                .feedback__item-title &nbsp;
                %input.feedback__send-btn(type='submit' th:value="\#{form.button.submit}") 