<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset='utf-8'>
    <meta content='width=device-width, initial-scale=1, shrink-to-fit=no' name='viewport'>
    <META CONTENT='INDEX, FOLLOW' NAME='ROBOTS'></META>
    <link href='/css/index.css' rel='stylesheet' type='text/css'>
    <meta property='og:title' th:content='${book.author.name}'>
    <title>Просмотр книги</title>
    <meta property='og:url' th:content='${&quot;http://localhost:8080/book/card.html?id=&quot; + book.id}'>
    <meta property='og:description' th:content='${book.description}'>
    <meta property='og:image' th:content='${&quot;http://localhost:8080/&quot; + book.images.get(0).path}'>
    <script src="js/blocks/book/buy_book.js"></script>
</head>
<body>
<div class='media-container'>
    <div class='header'>
        <meta name='currentLocalisation' th:content='${#locale}'>
        <div class='header__container'>
            <div class='header__emblem-container sm-4 md-2 lg-2 xl-2'>
                <a href='/index.html'>
                    <div class='header__emblem'></div>
                </a>
            </div>
            <div class='header__link-container sm-r-6 md-r-3 lg-r-6 xl-r-3' >
                <div class='user-control header__link-wrapper sm-12 md-12 lg-12 xl-12' sec:authorize='!isAuthenticated()'>
                    <div class='control__img conctroll__img_login-signup'></div>
                    <a class='header__link header__href-login' href='#0' th:text='#{header.login}'></a>
                    <a class='header__link header__href-signup' href='#0' sec:authorize='!isAuthenticated()'
                       th:text='#{header.registration}'></a>
                </div>
                <div class='user-account header__link-wrapper sm-12 md-12 lg-6 xl-6' sec:authorize='isAuthenticated()'>
                    <div class='control__img control__img_user-account'></div>
                    <a class='header__link' href='/account.html' th:text='#{header.profile}'></a>
                </div>
                <div class='user-control header__link-wrapper sm-12 md-12 lg-6 xl-6' sec:authorize='isAuthenticated()'>
                    <div class='control__img conctroll__img_logout'></div>
                    <a class='header__link header__href-logout' href='/logout' th:text='#{header.logout}'></a>
                </div>
                <div class='locale header__link-wrapper sm-12 md-12 lg-6 xl-6'>
                    <div class='control__img controll__img_locale'></div>
                    <a class='locale__item' id='locale_ru' onclick='changeLocale(&#39;ru&#39;)'
                       th:text='#{lang.ru}'></a>
                    <a class='locale__item' id='locale_en' onclick='changeLocale(&#39;en&#39;)'
                       th:text='#{lang.eng}'></a>
                </div>
                <div class='admin-panel header__link-wrapper sm-12 md-12 lg-6 xl-6'
                     sec:authorize='hasRole(&#39;ADMIN&#39;) || hasRole(&#39;MANAGER&#39;)'>
                    <div class='control__img control__img_admin-panel'></div>
                    <a class='header__link header__href-admin-panel' href='/admin-panel'
                       th:text='#{header.admin-panel}'></a>
                </div>
                <div class='user-account header__link-wrapper sm-12 md-12 lg-6 xl-6'>
                    <div class='control__img control__img_basket'></div>
                    <a class='header__link' href='/cart.html' th:text='#{header.basket}'></a>
                </div>
            </div>
            <div class='header__callback sm-12 md-6 lg-3 xl-r-3'>
                <div class='callback'>
                    <div class='callback__number'>+7(495) 134-23-20</div>
                    <div class='callback__container'>
                        <div class='callback__img'></div>
                        <a class='callback__href' href='#' th:text='#{header.callback}'></a>
                    </div>
                </div>
            </div>
            <div class='header__search sm-12 md-r-8 lg-4 xl-4'>
                <form action='/catalog.html' class='search-form' method='GET'>
                    <div class='search-form__content'>
                        <input class='search-form__input' name='text' th:placeholder='#{header.book-search}'>
                        <input class='search-form__button' src='/img/search/ico_find.gif'
                               th:placeholder='#{header.book-search}' type='image'>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class='user-modal'>
        <div class='user-modal__container'>
            <ul class='user-modal__switcher'>
                <li class='user-modal__switcher-item'>
                    <a class='user-modal__switcher-login user-modal__switcher-login_selected'
                       th:text='#{form.title.enter}'>Вход</a>
                </li>
                <li class='user-modal__switcher-item'>
                    <a class='user-modal__switcher-signup' th:text='#{form.title.registration}'>Регистрация</a>
                </li>
            </ul>
            <div class='user-modal__login user-modal__login_is-selected'>
                <form class='form' method='post' th:action='@{/login}'>
                    <p class='form__fieldset'>
                        <label class='form__image form__image-email' th:text='#{form.field.email}'>E-mail</label>
                        <input class='form__input form__input_has-error' id='login-email' name='email'
                               th:if='${param.failed}' th:placeholder='#{form.placeholder.email}' type='text'>
                        <input class='form__input' id='login-email' name='email'
                               th:placeholder='#{form.placeholder.email}' th:unless='${param.failed}' type='text'>
                    </p>
                    <p class='form__fieldset form__fieldset-login-password'>
                        <label class='form__image form__image-password' th:text='#{form.field.password}'></label>
                        <input class='form__input form__input_has-error' id='login-password' name='password'
                               th:if='${param.failed}' th:placeholder='#{form.placeholder.password}' type='text'>
                        <input class='form__input' id='login-password' name='password'
                               th:placeholder='#{form.placeholder.password}' th:unless='${param.failed}' type='text'>
                        <a class='form__hide-password' th:text='#{form.field.hide}'></a>
                        <span class='form__error-message form__error-message_is-visible' th:if='${param.failed}'
                              th:text='#{authentication.error}'></span>
                    </p>
                    <p class='form__fieldset'>
                        <input class='form__submit' th:value='#{form.button.enter}' type='submit'>
                    </p>
                </form>
            </div>
            <div class='user-modal__signup'>
                <form class='form' method='post' th:action='@{/signup}'>
                    <p class='form__fieldset'>
                        <label class='form__image form__image-name' th:text='#{form.field.name}'></label>
                        <input class='form__input' id='signin-name' name='name'
                               th:placeholder='#{form.placeholder.name}' type='text'>
                    </p>
                    <p class='form__fieldset'>
                        <label class='form__image form__image-name' th:text='#{form.field.email}'>E-mail</label>
                        <input class='form__input' id='signin-email' name='email'
                               th:placeholder='#{form.placeholder.email}' type='email'>
                        <span class='form__error-message form__error-message_is-visible' th:if='${param.error!= null}'
                              th:text='#{${param.error}}'></span>
                    </p>
                    <p class='form__fieldset form__fieldset-signup-password'>
                        <label class='form__image form__image-password' th:text='#{form.field.password}'></label>
                        <input class='form__input' id='signin-password' name='password'
                               th:placeholder='#{form.placeholder.password}' type='text'>
                        <a class='form__hide-password' th:text='#{form.field.hide}'></a>
                    </p>
                    <p class='form__fieldset'>
                        <input class='form__submit' th:value='#{form.button.registration}' type='submit'>
                    </p>
                </form>
            </div>
            <a class='user-modal__close-form'>Закрыть</a>
        </div>
    </div>
    <script src='/js/adminpanel/requestSender.js'></script>
    <script src='/js/blocks/form/form.js'></script>
    <script>
        setPasswordSchowAction('.form__fieldset-login-password');
        setPasswordSchowAction('.form__fieldset-signup-password');
    </script>

    <script src='/js/blocks/login-signup.js'></script>
    <script src='/js/blocks/header.js'></script>
    <script>
        userModal(".user-modal", '.header__href-login', '.header__href-signup');
    </script>
    <span th:if='${param.login}'>
<script>
  openLogIn();
</script>
</span>
    <span th:if='${param.signup}'>
<script>
  openSignUp();
</script>
</span>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
    <script>
        var currentHref = $(location).attr('href');
        currentHref = currentHref.replace("#0", "");
        var changeLocale = function (locale) {
            if (currentHref.indexOf('lang=') >= 0) {
                currentHref = currentHref.replace(/lang=[a-z]{0,5}/g, 'lang=' + locale)
            } else {
                if (currentHref.indexOf('?') >= 0) {
                    currentHref += "&";
                } else {
                    currentHref += "?";
                }
                currentHref += 'lang=' + locale
            }
            window.location.replace(currentHref);
        }

        var currentItem = 'en';
        if (document.getElementsByName('currentLocalisation')[0].getAttribute('content').indexOf('ru') >= 0) {
            currentItem = 'ru';
        }
        document.getElementById('locale_' + currentItem).classList.add('locale__item_current');
    </script>

</div>
<div class='menu' id='menu'>
    <a class='menu__schow-btn menu__link' href='#' th:text='#{menu.title}'></a>
    <ul class='menu__container'>
        <li class='menu__item'>
            <a class='menu__link' href='/catalog.html' th:text='#{menu.catalog}'></a>
        </li>
        <li class='menu__item'>
            <a class='menu__link' href='/delivery.html' th:text='#{menu.delivery}'></a>
        </li>
        <li class='menu__item'>
            <a class='menu__link' href='/gallery.html' th:text='#{menu.gallery}'></a>
        </li>
        <li class='menu__item'>
            <a class='menu__link' href='/news.html' th:text='#{menu.news}'></a>
        </li>
        <li class='menu__item'>
            <a class='menu__link' href='/contacts.html' th:text='#{menu.contacts}'></a>
        </li>
    </ul>
</div>
<script src='js/blocks/menu.js'></script>

<div class='media-container' itemscope itemtype='https://schema.org/Book'>
    <div class='sm-12 md-12 lg-12 xl-12'>
        <div class='sussess_mes' th:if='${success != null}'>
            <strong class='success_mes__title' th:text='#{message.success}'></strong>
            <span class='success_mes__label' th:text=' #{${success}}'></span>
        </div>
        <div class='error_mes' th:if='${error != null}'>
            <strong class='error_mes__title' th:text='#{message.error}'></strong>
            <span class='error_mes__label' th:text=' #{${error}}'></span>
        </div>

    </div>
    <div class='sm-12 md-6 lg-6 xl-6'>
        <div class='photo-slider'>
            <div class='photo-slider__container'>
                <img class='photo-slider__item' itemprop='image' th:alt='#{img.book.alt}' th:each='image:${book.images}'
                     th:src='${image.path}'>
            </div>
            <div class='photo-slider__control'>
                <div class='photo-slider__control-item sm-4' th:each='image, iter:${book.images}'>
                    <button class='photo-slider__bth'
                            th:onclick='${&quot;currentDiv(&quot; + iter.count + &quot;)&quot;}'>
                        <img class='photo-slider__btn-image' th:alt='#{img.book.alt}' th:src='${image.path}'>
                    </button>
                </div>
            </div>
        </div>
        <script src='/js/blocks/photo-slider.js'></script>
        <script>
            //multiItemSlider(".slider-main")
        </script>

    </div>
    <div class='sm-12 md-6 lg-6 xl-6'>
        <form class='book-description' method='post' onsubmit="buyBook();return false;">
            <div class='book-description__inline-container' itemscope itemtype='https://schema.org/Book'>
                <div class='book-description__name' th:text='${book.name}'></div>
                <div class='book-description__price-container'>
                    <div class='book-description__price' th:text='${&quot;$&quot; + book.price}'></div>
                    <div class='book-description__price-postfix'>USD</div>
                </div>
            </div>
            <div class='book-description__container'>
                <div class='book-description__author-prefix' th:text='#{book.author}'></div>
                <div class='book-description__author-name' itemprop='author' th:text='${book.author.name}'></div>
            </div>
            <div class='book-description__content-title' th:text='#{book.description-title}'></div>
            <div class='book-description__content' itemprop='description' th:text='${book.description}'></div>
            <div class='book-description__control-container'>
                <button class='book-description__by-btn' sec:authorize='isAuthenticated()' id="show-button"
                        th:text='#{book.buy-btn}'></button>
            </div>
        </form>

        <a th:href="@{/writeCookie/{id}(id=${book.id})}" >
            <button class='book-description__by-btn'  th:text='#{book.cart}'> </button>
        </a>

        <div class='book-buy-modal' sec:authorize='isAuthenticated()'>
            <form class='modal__container' method='post' th:action='@{/new_user_order}'>
                <input name='bookId' th:value='${book.id}' type='hidden'>
                <ul class='modal__switcher'>
                    <li class='modal__switcher-item'>
                        <a class='modal__switcher-first modal__switcher-first_selected' href='#0'
                           th:text='#{book.buy.payment-upon-receipt}'></a>
                    </li>
                    <li class='modal__switcher-item'>
                        <a class='modal__switcher-second' href='#0' th:text='#{book.buy.pay-online}'></a>
                    </li>
                </ul>
                <div class='modal__first modal__first_is-selected'>
                    <div class='form'>
                        <p class='form__fieldset'>
                            <input class='form__input' th:placeholder='#{book.buy.phone}'
                                   th:value='${user.delivery.phone}' type='text'>
                        </p>
                        <p class='form__fieldset'>
                            <input class='form__input' th:placeholder='#{book.buy.delivery}'
                                   th:value='${user.delivery.address}' type='text'>
                        </p>
                        <p class='form__fieldset'>
                            <input class='form__submit' th:value='#{book.buy.order}' type='submit'>
                        </p>
                    </div>
                </div>
                <div class='modal__second'>
                    <div class='form'>
                        <p class='form__fieldset'>
                            <input class='form__input' th:placeholder='#{book.buy.phone}'
                                   th:value='${user.delivery.phone}' type='text'>
                        </p>
                        <p class='form__fieldset'>
                            <input class='form__input' th:placeholder='#{book.buy.delivery}'
                                   th:value='${user.delivery.address}' type='text'>
                        </p>
                        <p class='form__fieldset'>
                            <input class='form__input' th:placeholder='#{book.buy.card-number}' type='text'>
                        </p>
                        <p class='form__fieldset'>
                            <input class='form__input' th:placeholder='#{book.buy.month}' type='text'>
                        </p>
                        <p class='form__fieldset'>
                            <input class='form__input' th:placeholder='#{book.buy.year}' type='text'>
                        </p>
                        <p class='form__fieldset'>
                            <input class='form__input' th:placeholder='#{book.buy.owner-name}' type='text'>
                        </p>
                        <p class='form__fieldset'>
                            <input class='form__submit' th:value='#{book.buy.order}' type='submit'>
                        </p>
                    </div>
                </div>
                <a class='modal__close-form' href='#0'>Закрыть</a>
            </form>
        </div>
        <script src='/js/blocks/form/form.js'></script>
        <script src='/js/blocks/book/buy_book.js'></script>
        <script>
            configBuyBookModel('.book-buy-modal');
        </script>
    </div>
</div>
<div class='media-container'>
    <div class='book-comments sm-12 md-r-11 lg-r-11 xl-r-11'>
        <div class='book-comments__container'>
            <div class='book-comments__item sm-12 md-12 lg-12 xl-12' th:each='comment:${book.comments}'>
                <div class='book-comments__container sm-12 md-4 lg-3 xl-2'>
                    <div class='book-comments__commentator' th:text='${comment.user.name}'></div>
                    <div class='book-comments__container'>
                        <img class='book-comments__date-img' src='/img/ico_calendar.gif'>
                        <div class='book-comments__date' th:text='${comment.date}'></div>
                    </div>
                </div>
                <div class='book-comments__container sm-12 md-8 lg-9 xl-10'>
                    <div class='book-comments__content' th:text='${comment.content}'></div>
                </div>
            </div>
            <div class='book-comments__item sm-12 md-12 lg-12 xl-12' sec:authorize='isAuthenticated()'>
                <div class='book-comments__container sm-12 md-4 lg-3 xl-2'>
                    <div class='book-comments__commentator' th:text='#{comments.leave_your_comment}'></div>
                </div>
                <form action='/add_comment' class='book-comments__container sm-12 md-8 lg-9 xl-10' method='post'>
                    <input name='bookId' th:value='${book.id}' type='hidden'>
                    <textarea class='book-comments__new-comment sm-12 md-12 lg-9 xl-10' name='content'
                              th:placeholder='#{comments.enter_your_comment}'></textarea>
                    <input class='book-comments__new-comment-btn sm-r-6 md-r-4 lg-3 xl-2' th:value='#{comments.send}'
                           type='submit'>
                </form>
            </div>
        </div>
    </div>

</div>
<div class='horosontal-line'></div>
<div class='media-container'>
    <footer class='footer'>
        <div class='grid-area'>
            <div class='sm-12 md-4 lg-4 xl-4'>
                <div class='footer__colon'>
                    <div class='footer__row'>
                        <div class='footer__store-name'>
                            <span class='footer__book'>BOOK</span>
                            <span class='footer__book'>STORE</span>
                        </div>
                        <div class='footer__callback'>
                            <div class='callback'>
                                <div class='callback__number'>+7(495) 134-23-20</div>
                                <div class='callback__container'>
                                    <div class='callback__img'></div>
                                    <a class='callback__href' href='#' th:text='#{header.callback}'></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class='sm-12 md-4 lg-4 xl-4'>
                <div class='footer__colon'>
                    <div class='footer__row'>
                        <div class='footer__block'>
                            <div class='footer__title' th:text='#{footer.main-menu-title}'></div>
                            <a class='footer__link-menu' href='/catalog.html' th:text='#{menu.catalog}'></a>
                            <a class='footer__link-menu' href='/delivery.html' th:text='#{menu.delivery}'></a>
                            <a class='footer__link-menu' href='/gallery.html' th:text='#{menu.gallery}'></a>
                            <a class='footer__link-menu' href='/news.html' th:text='#{menu.news}'></a>
                            <a class='footer__link-menu' href='/contacts.html' th:text='#{menu.contacts}'></a>
                            <hr>
                            <a class='footer__link-menu' href='/sitemap.html' th:text='#{page.title.site-map}'></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class='sm-12 md-4 lg-4 xl-4'>
                <div class='footer__colon'>
                    <div class='footer__row'>
                        <div class='footer__block'>
                            <div class='footer__title' th:text='#{footer.we-accept-payment}'></div>
                            <img class='footer__link-img' src='/img/paiment/ico_MasterCard.gif'>
                            <img class='footer__link-img' src='/img/paiment/ico_payPal.gif'>
                            <img class='footer__link-img' src='/img/paiment/ico_visa.gif'>
                            <img class='footer__link-img' src='/img/paiment/qiwi.gif'>
                        </div>
                        <div class='footer__block'>
                            <div class='footer__title' th:text='#{footer.to-keep-abreast}'></div>
                            <img class='footer__link-img' src='/img/soc-media/ico_f.gif'>
                            <img class='footer__link-img' src='/img/soc-media/ico_google.gif'>
                            <img class='footer__link-img' src='/img/soc-media/ico_inst.gif'>
                            <img class='footer__link-img' src='/img/soc-media/ico_vk.gif'>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

</div>

</body>
</html>
