.card
  .card-header Редактирование контакра
  .card-body.card-block
    %form.form.this_modal_form(th:action="${action}" method="post" enctype="multipart/form-data" onsubmit="sendDataFromModalForm('.this_modal_form'); return false;" id="thisCurrentForm")
      %input(type="hidden" name="id" th:value="${contact.id}")
      .row.form-group
        .col.col-md-3
          .form-control-label Address
        .col-12.col-md-9  
          %input#login-email.form-control(th:value="${contact.address}" name='address' id='address' type="text" placeholder="Address" )
          %span.form__error-message
      .row.form-group
        .col.col-md-3
          .form-control-label Schedule
        .col-12.col-md-9
          %input#login-email.form-control(th:value="${contact.schedule}" name='schedule' id='schedule' type="text" placeholder="Schedule" )
          %span.form__error-message
      .row.form-group
        .col.col-md-3
          .form-control-label Phone
        .col-12.col-md-9
          %input#login-email.form-control(th:value="${contact.phone}" name='phone' id='phone' type="text" placeholder="Phone" )
          %span.form__error-message
      .row.form-group
        .col.col-md-3
          .form-control-label Google lat
        .col-12.col-md-9
          %input#login-email.form-control(th:value="${contact.google_lat}" name='googlelat' id='googlelat' type="text" placeholder="Google lat" )
          %span.form__error-message
      .row.form-group
        .col.col-md-3
          .form-control-label Google ing
        .col-12.col-md-9
          %input#login-email.form-control(th:value="${contact.google_ing}" name='googleing' id='googleing' type="text" placeholder="Google ing" )
          %span.form__error-message 
  .card-footer
    %button.btn.btn-primary.btn-sm(type="submit" form="thisCurrentForm" ) 
      %i.fa.fa-dot-circle-o Сохранить