.account{
    margin: 50px 0  20px 0; 
}

.account__container{
    display: flex;
    box-sizing: border-box;
    border: 1px solid $theme-main-horisontal-line-color;
    border-radius: 5px;
    margin: 5px 0 10px 0px; 
  
}
.account__wraper{
    width: 100%;
}
.account__img{
    box-sizing: border-box;
    height: auto;
    width: 100%;
}
.account__wraper:hover{
    cursor: pointer;
}
.account__config-img-wrapper{
    width: 100%;
    width: 100%;
    position:absolute;
    left:0;
    bottom:0;
    right:0;
    top:0;
    margin: auto;
    display: none;
    background: rgba(0, 0, 0, 0.21);
}
.account__config-img{
    position:absolute;
    left:0;
    bottom:0;
    right:0;
    top:0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    width: 100px;
}
.account__img-wrapper{
    box-sizing: border-box;
    margin: 5px 10px 5px 0;
    max-width: 300px;
    margin: 0 auto;
    position: relative;
    border-radius: 50%;
    overflow: hidden;
}
.account__img-wrapper:hover{
    .account__config-img-wrapper{
        display: block;
    }
    cursor: pointer;
}
.account__item {
    display: flex;
}
.account__item_title{
    display: flex;
}
.account__title{
    font-family: 'Google Sans',Roboto,Arial,sans-serif;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.5rem;
}
.account__item-content{
    border-bottom: 1px solid $theme-main-horisontal-line-color;
    box-sizing: border-box;
    margin-left: 30px;
    display: flex;
    padding: 15px 0;
}
.account__item-content_last{
    @extend .account__item-content;
    border-bottom:0;
}
.account__item:hover{
    background-color: #f5f5f5;
    cursor: pointer;
    border-radius: 5px;
}
.account__key{
    font-family: Roboto,Arial,sans-serif;
    font-size: .6875rem;
    font-weight: 500;
    color: #5f6368;
    line-height: 1rem;
    text-transform: uppercase;
}
.account__value{
    letter-spacing: .00625em;
    font-family: Roboto,Arial,sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    word-break: break-word;
    word-wrap: break-word;
    color: #202124;
}

.account__value_editable {
    letter-spacing: 0.00625em;
    font-family: Roboto, Arial, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    word-break: break-word;
    word-wrap: break-word;
    color: #202124;
    border: 0;
    // border-bottom: 1px solid black;
    width: 90%;
    box-sizing: border-box;
    padding: 0px;
    border-radius: 5px;
}
.account__value_editable_with_error,
.account__value_editable_with_error:hover{
    background: #e4b7b7;
}
.account__field-controll-container{
    margin: 5px;
    position: absolute;
    display: flex;
    border: 1px solid #a0a0a0;
    background-color: #ffffff;
    border-radius: 5px;
}
.account__field-error-container{
    position: absolute;
width: 100%;
}
.account__field-error-message{
    margin-bottom: 0;
    display: inline-block;
    position: absolute;
    left: 20px;
    bottom: 32px;
    background: rgba(190, 70, 48, 0.9);
    opacity: 0.3;
    padding: 0.6em;
    z-index: 2;
    color: #FFF;
    font-size: 13px;
    font-size: 0.8125rem;
    border-radius: 0.25em;
    pointer-events: none;
    opacity: 1;
}
.account__field-error-message::after{
    content: "";
    position: absolute;
    left: 22px;
    top: 100%;
    height: 0;
    width: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid rgba(190, 70, 48, 0.9);
    opacity: 0.9;
    transform: rotate(180deg);
}
.account__field-controll{
    padding: 5px;
    border-radius: 5px;
    box-sizing: border-box;
}
.account__field-controll:hover{
    cursor:pointer;
    background-color: #f5f5f5;

}
 

