<div class='card'>
    <div class='card-header'>Редактирование пользователя</div>
    <div class='card-body card-block'>
        <form class='form this_modal_form' enctype='multipart/form-data' id='thisCurrentForm' method='post'
              onsubmit='sendDataFromModalForm(&#39;.this_modal_form&#39;); return false;' th:action='${action}'>
            <input name='id' th:value='${user.id}' type='hidden'>
            <div class='row form-group'>
                <div class='form__image-content-container'>
                    <image class='form__image-content-item' th:src='${user.image}'></image>
                </div>
            </div>
            <div class='row form-group'>
                <div class='col col-md-3'>
                    <div class='form-control-label'>Name</div>
                </div>
                <div class='col-12 col-md-9'>
                    <input class='form-control' id='login-email_name' name='name' placeholder='Имя'
                           th:value='${user.name}' type='text'>
                    <span class='form__error-message'></span>
                </div>
            </div>
            <div class='row form-group'>
                <div class='col col-md-3'>
                    <div class='form-control-label'>Role</div>
                </div>
                <div class='col-12 col-md-9'>
                    <select class='form-control' id='login-role_role' name='role' placeholder='role'>
                        <option placeholder='Роль' th:each='role : ${roles}' th:selected='${role.id==user.role.id}'
                                th:text='${role.label}' th:value='${role.id}'></option>
                    </select>
                </div>
            </div>
            <div class='row form-group'>
                <div class='col col-md-3'>
                    <div class='form-control-label'>E-mail</div>
                </div>
                <div class='col-12 col-md-9'>
                    <input class='form-control' id='login-email_email' name='email' placeholder='E-mail'
                           th:value='${user.email}' type='email'>
                    <span class='form__error-message'></span>
                </div>
            </div>
            <div class='row form-group'>
                <div class='col col-md-3'>
                    <div class='form-control-label'>Password</div>
                </div>
                <div class='col-12 col-md-9'>
                    <input class='form-control' id='login-email_password' name='password' placeholder='Password'
                           type='password'>
                    <span class='form__error-message'></span>
                </div>
            </div>
            <div class='row form-group'>
                <div class='col col-md-3'>
                    <div class='form-control-label'>Comfirm password</div>
                </div>
                <div class='col-12 col-md-9'>
                    <input class='form-control' id='login-email_password' name='password_confirm' placeholder='confirm'
                           type='password'>
                    <span class='form__error-message'></span>
                </div>
            </div>
            <div class='row form-group'>
                <div class='col col-md-3'>
                    <div class='form-control-label'>Image</div>
                </div>
                <div class='col-12 col-md-9'>
                    <input accept='image/png, image/jpeg' class='form-control' id='user-image_image' name='image'
                           placeholder='image' th:value='${user.image}' type='file'>
                    <span class='form__error-message'></span>
                </div>
            </div>
        </form>
    </div>
    <div class='card-footer'>
        <button class='btn btn-primary btn-sm' form='thisCurrentForm' type='submit'>
            <i class='fa fa-dot-circle-o'>Сохранить</i>
        </button>
    </div>
</div>
