.media-container
  .sm-12.md-2.lg-2.xl-2
    %a.admin-panel__users-btn(sec:authorize="hasRole('ADMIN')" href="#")
      .left-menu__item(th:text="\#{adminpanel.menu.users}")
    %a.admin-panel__authors-btn{href:"#"}
      .left-menu__item(th:text="\#{adminpanel.menu.authors}") 
    %a.admin-panel__books-btn{href:"#"}
      .left-menu__item(th:text="\#{adminpanel.menu.books}")
    %a.admin-panel__contacts-btn{href:"#"}
      .left-menu__item(th:text="\#{adminpanel.menu.contacts}")
    %a.admin-panel__news-btn{href:"#"}
      .left-menu__item(th:text="\#{adminpanel.menu.news}")
    %a.admin-panel__gallery-btn{href:"#"}
      .left-menu__item(th:text="\#{adminpanel.menu.gallery}")
    .horosontal-line 
    %a.admin-panel__add-btn{href:"#"}
      .left-menu__item(th:text="\#{adminpanel.menu.add}")
  .sm-12.md-10.lg-10.xl-10
    .table-container
      %table.content-table
      .table-pagination
        .table-pagination__previous &#x2190;
        .table-pagination__current
        .table-pagination__next &#8594; 


%script{src:"/js/blocks/form/form.js"}
%script{src:"/js/adminpanel/contentShower.js"}
%script{src:"/js/adminpanel/pagination.js"}
%script{src:"/js/adminpanel/requestSender.js"}
%script{src:"/js/adminpanel/adminPanelListenersSetter.js"}
%script{src:"/js/blocks/form/formDataSnder.js"}

:javascript
  setBtnListeners(
    ".admin-panel__users-btn",
    ".admin-panel__authors-btn",
    ".admin-panel__books-btn",
    ".admin-panel__contacts-btn",
    ".admin-panel__news-btn",
    ".admin-panel__gallery-btn",
    ".admin-panel__add-btn");
  showUsers();