.order
    %form
        %input(type='hidden' th:value="${user.id}" id="account_id_for_order")
    .order__title(th:text="\#{order.title}")
    .order__items
        .order__item(th:each="order:${user.orders}")
            .sm-12.md-2.lg-2.xl-2
                .order__img-wraper
                    %img.order__img(th:src="${order.book.images[0].path}")
            .sm-12.md-10.lg-10.xl-10
                .order__name(th:text="${order.book.name}")
                .sm-6.md-6.lg-6.xl-6
                    %span.order__prime(th:text="${order.price}")
                    %span.order__prime-postfix USD
                .sm-6.md-6.lg-6.xl-6
                    .order__date(th:text="${order.date}")
                    
    .table-pagination
        .table-pagination__previous &#x2190;
        .table-pagination__current
        .table-pagination__next &#8594; 
    %script{src:"/js/blocks/form/formDataSnder.js"}
    %script{src:"/js/adminpanel/requestSender.js"}
    %script{src:"/js/adminpanel/pagination.js"}
    %script{src:"/js/blocks/account/orderReciver.js"}

    :javascript
        loadOrders('.order__items',  'account_id_for_order')
