.title{
    width: 100%;

}

.title_red{
    @extend .title;
    background-color: $theme-main-color;
    
}
.title_red .title__text{
    color: white;
    font-size: 20px;
    padding: 10px 15px;
}

.title__text{  
    font-weight: bold;
    padding: 15px;
    color: #000;
    font-size: 30px;
}

.title__sub-text{
    font-size: 18px;
    line-height: 24px;
    color: #363636;
    font-family: 'Roboto',arial,sans-serif;
    margin-bottom: 25px;
}


.title__text_center{
    text-align: center;
    color: #000;
    font-family: semplicitapro,Helvetica,Arial,sans-serif;
    font-size: 2.25em;
    font-weight: 400;
    line-height: 1.25em;
    margin: 0 0 .5em;
    font-size: 2em;
    margin: .67em 0;
    line-height: 1.6875em;
}
.title__sub-text_center{
    text-align: center;
    margin: 0 0 1.2em;  
    font-size: 16px;
    line-height: 1.6875em;
    color: #363636;
    font-family: semplicitapro,Helvetica,Arial,sans-serif;
}